[2022-08-09 21:02] concretevitamin commented on #1054
See https://github.com/skypilot-org/skypilot/issues/640 for a possible solution?

[2022-08-09 21:06] Michaelvll commented on #1054
The solution may not be sufficient, as we cannot change the `availability_zones` field to the zone where the old cluster was on (otherwise, ray will consider the yaml different with the previous one, and launch a new cluster), so ray up can still launch the cluster on another zone if the previous one does not have enough resources.

[2022-08-09 23:02] infwinston commented on #1054
@Michaelvll Just to clarify the behavior of Ray, when we `ray up` a stopped VM in `us-east-1b` with
[code]
and fail due to no resources. What would Ray do? Throw an error or try to launch another VM in other zones automatically?
(i.e., does Ray support failover to other zones)

[2022-08-10 00:08] Michaelvll commented on #1054
Ahh, good point! Actually, I cannot confirm what is the actual behavior. I believe it will try to launch it in another zone, if the original one does not work, since the purpose of ray autoscaler is to satisfy users' requirement for the number of nodes no matter it is a cached node or a new one. We may need to take a look at the source code to see the actual behavior

[2022-08-10 21:52] Michaelvll opened #1060 "[UX] The YAML spec document does not show file upload"
One of our users raises the question of whether we support uploading a single file with the file_mounts. We may want to add an example in our [YAML spec](https://skypilot.readthedocs.io/en/latest/reference/yaml-spec.html) document showing how to upload a file, like the following:
[code]

[2022-08-11 01:40] romilbhardwaj commented on #1045
I do not think we should set `CPU: 1` globally for all tasks.

Until we allow users to specify CPUs as a resource requirement, I would advocate for keeping it at 0.5, or maybe even reducing it to 0.25 or 0.1.  Many workloads _rarely_ hit 100% CPU utilization because they are blocked on disk, network or hw accelerators. We want to allow multiple sky tasks to be scheduled together and let the kernel

[2022-08-11 01:56] #982 closed

[2022-08-11 19:55] romilbhardwaj opened #1067 "[Onprem] Onprem spec YAMLs not found if they end in `.yaml`"
Sky onprem spec YAMLs, if ending in `.yaml` are not found by sky status. They need to be `.yml` to be found in `sky status`. This is problematic because many people prefer to use `.yaml` (and is also [officially recommended](https://yaml.org/faq.html)).

E.g.
Does not work if extension is `.yaml`:
[code]

Works if extension is `.yml`.
[code]

[2022-08-11 21:23] #1032 closed

[2022-08-12 02:56] Michaelvll commented on #963
Setting `FAILED_NO_RESOURCE` for the long cluster name could be a bit tricky, as when no clouds are specified, it is possible that AWS failed due to resource unavailable and the GCP failed due to the cluster name length. In that case, the failure reason is vague.
I think one possible way to solve the problem is in spot case, we can check the cluster name length, and if it is longer than the limite

[2022-08-12 03:00] Michaelvll commented on #1022
Another problem is found: when the `~/.ssh/` has the wrong permission, sky launch will stuck in `launching` for a very long time. We may need to fail early for that as well.

[2022-08-12 06:07] Michaelvll opened #1068 "[Storage] Not select the correct bucket provider when the cloud is specified"
The following yaml will upload the `~/tmp` to the S3 bucket, instead of deciding by the cloud specified in resources.
[code]

[2022-08-12 06:09] Michaelvll opened #1069 "[Storage] Sky storage does not support single files"
Our sky storage does not support uploading a single file to the sky storage with the following yaml
[code]

That is because we use `gsutil -m rsync` for everything, but we should switch to `gsutil -m cp` when we find the source is a file.

[2022-08-12 18:16] Michaelvll opened #1070 "[Storage] Upload multiple files to the same bucket with different directories"
It would be great if sky storage can support uploading multiple files into the same bucket but different folder in the bucket. Currently, a workaround is to write another program to upload the files first, before running the sky yaml.

[code]

In yaml:
[code]

[2022-08-12 18:53] romilbhardwaj commented on #1069
I was starting to implement this but I realized it seems to break our destination/source path semantics. For example, lets use the yaml above:

[code]

Is `/test-path` now expected to be a file which has the contents of `~/file.txt`? Or is it a directory and we put file.txt at `/test-path/file.txt`?

1. If `/test-path` is intended to be a file, we cannot support `MOUNT` mode since most mounting to

[2022-08-12 19:14] romilbhardwaj commented on #1070
Is it possible for the user to organize their files into a local hierarchy however they want, then simply specify the root of the hierarchy in the source?

[code]

[code]

[2022-08-12 19:53] #1060 closed

[2022-08-12 21:14] Michaelvll commented on #1070
Yeah, I proposed that to them as well but seems like they do not really want to change the local hierarchy as they will start thousands of spot tasks, each of which will use some of the files. Moving the files into different folders for each task will make the local folder a bit messy.

[2022-08-12 23:59] concretevitamin commented on #1019
Daniel on a new project ID that's never been used before observed 3 "APIs not been used errors". One of which is:
[code]

[2022-08-13 00:02] concretevitamin commented on #1019
Daniel on a new project ID that's never been used before observed 3 "APIs not been used errors".
- Compute Engine API
- Cloud Resource Manager API
- IAM API

One such message
[code]

Actions
- [ ] As part of `sky check` - require running these lines (best to check if these APIs are enabled; or, at least we should print the 3 URLs)
- [ ] Parse http errors of this form, and surface URLs in an easier

[2022-08-13 00:13] Michaelvll opened #1073 "[Spot] Automatically translate the local file mounts and workdir to sky Storage"
The friction of changing an original available sky yaml with `workdir` and local file mounts set to the managed spot yaml has been observed multiple times. We may want to have SkyPilot translate those for the users automatically, i.e. translate those into SkyPilot Storage with `persistent: false` and `mode: COPY`

[2022-08-13 04:49] #959 closed

[2022-08-14 08:53] WoosukKwon commented on #995
#1075 will fix this bug.

Actually `sky exec --gpus some_other_gpus` immediately fails by the `less_demanding_than` test. However, yes we may need to investigate in more detail whether something other than the `--gpus` argument can make a task requirement unsatisfiable.

[2022-08-15 16:13] concretevitamin commented on #1029
Fixed by #1065.

[2022-08-15 16:13] #1029 closed

[2022-08-15 17:32] Michaelvll opened #1078 "[Spot] Exposing a way to specify the max number of simultaneous spot jobs"
Currently, we will launch 16 spot jobs in parallel and let the remaining jobs pending in a queue. This becomes a problem when the quota of the user does not satisfy the requirement of 16 spot clusters, as the launching of the jobs will fail due to resource unavailability. There are several things we can do to solve the problem (ordered by the simplicity of implementation and can be done in the sam

[2022-08-15 17:52] concretevitamin commented on #1078
Seems like this can affect non-spot jobs as well?

 The 2nd option, placing the job back to the queue with some backoff, seems better because the user doesn't need to know/check their quota of a particular instance type.  We can also change the default recovery to "wait and retry forever".

[2022-08-15 18:56] Michaelvll opened #1079 "[Programmatic API] Align Storage API with the YAML specs"
The current `sky.Storage` API as following is misaligned with our YAML specs, making it hard to learn.
[code]
Instead of this API, I found myself even want to use the following one instead:
[code]

[2022-08-15 18:59] Michaelvll opened #1080 "[Programmatic API] Merge `Task.set_storage_mounts` and `Task.set_file_mounts`"
Currently, we have both `Task.set_storage_mounts` and `Task.set_file_mounts`. It is a burden for the user of programmatic API to manually distinguish the two mounts. Instead, we can align it with our `file_mounts` in our yaml specs, where both sky storage and normal file_mounts are placed under `file_mounts` section, i.e. we can only preserve `Task.set_file_mounts` and `Task.update_file_mounts`.

[2022-08-15 21:17] romilbhardwaj opened #1082 "[Onprem] Installation docs: git clone fails for ssh url"
On the installation page, `git clone ssh://git@github.com/skypilot-org/skypilot.git` fails. We should use https:// after we have open sourced

![image](https://user-images.githubusercontent.com/4416605/184719979-86844cee-8b11-4db0-9e68-5a320f108819.png)

![image](https://user-images.githubusercontent.com/4416605/184719738-ce8d5eb7-c1cc-4ce1-a7ad-ac2ecd9b3eac.png)

[2022-08-16 04:44] #1082 closed

[2022-08-16 17:06] Michaelvll commented on #1069
That is a great discussion! Option 2 sounds good to me. I was a bit afraid of moving around the files would scare the user for the file disappearing, especially when doing the auto-translation for the file mounts in the spot case.
I start thinking about whether a hard link will work for the spot case, that we hard link each file to a hidden folder and upload that folder.

[2022-08-16 17:11] Michaelvll commented on #1069
Another thought is that can we specify a subdirectory for the name, such as
[code]
In this case, the `/test-path` should be the file itself, and we can simply disallow the MOUNT mode for the `name` with subdirectory?

[2022-08-16 22:51] infwinston commented on #909
To reproduce, I launched five TPU VMs and ran a bert training job for over a week. So far all of them look normal. We probably need more inputs from users on this.

[2022-08-17 07:17] Michaelvll opened #1088 "[Spot] Ray dashboard hangs making `ray job` commands not responding"
Although not much CPU and memory are used, the `sky-spot-controller` can still fail to take new `ray job` commands, due to a lot of `ray job` commands running and the jobs are stuck in INIT mode. That causes the `sky spot launch` to hang after setup is completed.

One possible reason for that is our skylet will try to update the status of the INIT jobs by querying ray with `ray job`, causing a lot

[2022-08-17 14:51] concretevitamin commented on #1088
We can try to directly query against redis. It's a hack as it assumes ray job internals (redis key formats, etc.).

Is this also related to the check interval being too short here?:

https://github.com/skypilot-org/skypilot/blob/78ce9adb5354b6a14d0ebe734747ead5839d0ad7/sky/skylet/subprocess_daemon.py#L55

[2022-08-17 17:18] Michaelvll commented on #1088
Good point! I am thinking that we can use `ray job list` offered in `ray==1.13` to query all the job status in one call, instead of our previous parallel job status fetching.

The line seems only to be used in the on-prem situation, i.e. the ray job related commands won't be called in the spot case.

[2022-08-17 17:20] Michaelvll opened #1089 "[Spot] Job duration longer than total duration in sky spot status"
![1688621660755091_ pic_hd](https://user-images.githubusercontent.com/6753189/185202179-61866f38-5fb7-4d83-911d-8ca3c14dd14b.jpg)
The problem may caused by clock misalign between the local server and the spot controller.

[2022-08-17 20:04] WoosukKwon opened #1091 "Error message when `sudo -H pip3 install skypilot`"
I found this red error message
[code]
when I ran `sudo -H pip3 install skypilot` to set up a local cluster on an AWS VM. Maybe this is related to the recent PR #1055. While this did not cause any problem to me, it'd be nice to remove those errors for better UX. (I can't see this error when I `pip install skypilot` in my local conda env. I guess this is only a problem in on-prem deployment).

[2022-08-17 20:48] #995 closed

[2022-08-17 22:22] infwinston commented on #1019
This is important. Will work on this during bug squash tomorrow.

[2022-08-17 22:52] Michaelvll opened #1094 "[Spot] More simultaneous spot jobs"
A pilot user requested for more simultaneous spot jobs than the current 16 jobs due to our settings for each job taking 0.5 CPU on spot controller. We can start testing launching more jobs on the spot controller and stress test it.

[2022-08-17 23:38] Michaelvll opened #1095 "[Spot] Unique run id for different attempts after preemption"
We should provide a unique run_id for the same spot job across different attempts so that the user can use that id to communicate with wandb and any other software that needs the same identification.

[2022-08-18 03:01] Michaelvll opened #1097 "[Spot] Retry until up for spot launch"
Add an option that waits forever for the resources until it is available.

[2022-08-18 06:08] Michaelvll commented on #1088
I asked them to remove the `JobUpdateEvent` from the skylet and restart the controller, and it seems that it is now able to run for about 2 hours and is still running (Previously, it would hang after half an hour).
https://github.com/skypilot-org/skypilot/blob/619655258e7b1479e5144d5a364257ac5dba5e4d/sky/skylet/skylet.py#L12

[2022-08-19 01:41] Michaelvll commented on #1088
It seems that the ray's job_manager is buggy. Even though they call `ray.actor.exit_actor()` for the `JobSupervisor.run` and actor will not be able to find using `ray.get_actor` with ValueError. The actor already got by `ray.get_actor` will still be available for calling remote functions, i.e. `await job_supervisor.ping.remote()` will always be available and the `_monitor_job` function will be in

[2022-08-19 03:38] Michaelvll opened #1100 "[Spot] Users in the same GCP project will have conflict on spot controller"
Two users in the same GCP project will have the same spot controller name and will terminate other's spot controller.

[2022-08-19 08:15] #1100 closed

[2022-08-19 08:58] Michaelvll commented on #1088
Just found another easier way to reproduce the error:
[code]

After several hundreds of jobs, `ray job list --address=http://127.0.0.1:8265` will fail to connect to the dashboard.

[2022-08-20 00:32] concretevitamin opened #1105 "CLI/UX: support option to down all non-stopped clusters"
I found myself frequently having a list of STOPPED (terminal) clusters, plus some INIT/UP (ephemeral, for debugging) clusters.  I often want to down all of the latter, but `sky down -a` would down both categoies.

It'd be great to implement some option to support the above. Some naming ideas:
- `--skip-stopped / -s`
- `--non-stopped / -n`

so usage would be `sky down -a -s/-n`.

Or we could have
-

[2022-08-20 01:32] #1097 closed

[2022-08-21 19:04] #1089 closed

[2022-08-21 23:37] #1088 closed

[2022-08-24 02:04] romilbhardwaj commented on #1094
Related to #1078?

[2022-08-24 17:55] romilbhardwaj opened #1118 "[Storage] Use common message strs for S3 and GCS for private and non-existent buckets"
Our error messages for private bucket and non-existent bucket are different for S3 and GCS. We should use a common constant str.

_Originally posted by @michaelzhiluo in https://github.com/skypilot-org/skypilot/pull/1087#discussion_r950622404_

[2022-08-24 17:55] #977 closed, assigned to romilbhardwaj

[2022-08-25 05:28] Michaelvll opened #1122 "[Dependency] `cryptography` package does not support openssl>3.0"
cryptography package used in the `authentication.py` does not support `openssl>3.0`. It seems the newly created conda environment can have the `openssl>3.0` by default and cause the following error for sky launch. [related issue](https://github.com/pyca/cryptography/issues/6712)
[code]

The current workaround is `conda install -c conda-forge openssl=1.1`

[2022-08-25 05:47] Michaelvll opened #1123 "[Permission] running `sky launch` on a machine without `~/.ssh/config` will have the file in wrong permission"
We should set the `~/.ssh/config` permission with `chmod 644 ~/.ssh/config` if it is newly created by sky. Otherwise, the `ray up` will fail, due to failing to ssh into the cluster for the permission issue.

[2022-08-25 16:17] concretevitamin commented on #328
I tried revisiting this issue briefly. For a cpunode:

- Launching using Azure web console: **about 1.5 min** from "create" button to being able to SSH in.  Same VM image, region.  Only diff being using an existing resource group.
- Launching using `sky launch` (which means ray autoscaler, which means Azure python SDK): super slow, **~9 min**.  Every step is slower than console.

I hacked the temp

[2022-08-25 17:07] Michaelvll opened #1125 "[Job] Submitting jobs without delay can cause jobs PENDING forever"
The target user tried to continuously submit spot jobs without delay, and after about 100 jobs finished running, there are about 30 jobs keep in PENDING status and no jobs are running.
![image](https://user-images.githubusercontent.com/6753189/186725960-00fc396e-6d50-40c4-8445-1fd53b6309dc.png)

It seems caused by ray not correctly scheduling the placement groups (0.5 CPU) for the jobs. Here is th

[2022-08-25 17:10] romilbhardwaj commented on #328
Might be good to verify this hypothesis by using their pure python SDK (without ray autoscaler) to provision a VM and measure time. Here's an [example](https://docs.microsoft.com/en-us/azure/developer/python/sdk/examples/azure-sdk-example-virtual-machines?tabs=cmd).

[2022-08-25 18:19] Michaelvll opened #1127 "[ray] Continuously submitting with ray job causing dashboard hanging"
Reproducible code: run the following command on the instance `./reproduce.sh`

reproduce.sh
[code]

task.sh
[code]

[2022-08-25 19:18] Michaelvll commented on #1125
The problems can also be reproduced by the code in #1127

[2022-08-25 21:35] Michaelvll commented on #1125
We can probably increase the max task limit for the whole system as mentioned by modifying the system file. https://www.suse.com/support/kb/doc/?id=000015901

[2022-08-26 02:30] Michaelvll commented on #1125
A weird thing happens. When running the reproduce code from #1127, when the cpunode is firstly launched, it will stuck at job 197 for connecting to the dashboard. However, if we restart the ray cluster, it won't stuck anymore.

The error from the raylet from the first time is that:
[code]
However, we already enlarged the nofile limits.

[2022-08-26 16:34] Michaelvll commented on #1125
Another possible reproducible code:

[code]

[2022-08-26 18:30] #1127 closed

[2022-08-26 23:10] Michaelvll opened #1130 "[Job] Job queue fail to schedule pending jobs"
This problem seems to be caused by ray that the placement group will not be `ray.get()` after being released.

A reproducible code (As mentioned in #1125):
[code]
After canceling the first 16 jobs, there are only 4 more jobs scheduled.

This could be a bug in ray's placement group scheduling. Our generated ray program fail to get the `ray.get(pg.ready())`, although `ray status` and `ray.util.place

[2022-08-26 23:25] suquark commented on #1130
now Ray just releases ray2.0 (which fixes a lot of bugs), could you give it a try?

[2022-08-27 03:11] concretevitamin opened #1131 "Support autostop option for interactive node CLIs"
I found myself wanting to use autostopping when launching `sky gpunode`.  We can add the following option from `sky launch` to the interactive node CLIs:
[code]

[2022-08-28 20:17] lhqing opened #1132 "Spot job stall at STARTING status"
Hi Sky team,

**Problem**
I noticed some spot job stall at STARTING status for long time (>1 hours), I have to manually cancel it or ssh into controller to run `sky down STUCK_JOB_NAME` to close that VM.

This usually happens when I submit the first spot job in a new controller, but not always reproducible. And sometimes it also happens in the middle spot jobs. The controller seems normal, because

[2022-08-29 04:40] Michaelvll commented on #1130
The problem still exists after upgrading to ray==2.0.0, but I did find a reproducible code with `ray job` directly without going through SkyPilot's codepath:

[code]

[code]

If we replace the `ray://localhost:10001` with `auto`, the problem will disappear.

[2022-08-29 16:18] concretevitamin commented on #960
Fixed in #1117.

[2022-08-29 16:18] #960 closed

[2022-08-29 18:56] concretevitamin commented on #1132
Thanks for the report @lhqing. At the end of the provision log somehow the command
[code]
 failed.

This should not have blocked, but instead should show something like
[code]

I failed to reproduce this - when this happens next time, maybe log into the controller and use `py-spy dump --pid <pid>` to see what the stuck controller process is doing?

[2022-08-29 21:47] WoosukKwon commented on #708
I think we can close this issue as it is resolved by #1075.

[2022-08-29 21:47] #708 closed

[2022-08-29 21:53] #1130 closed

[2022-08-29 21:56] Michaelvll commented on #1125
After the fixes from #1128 and #1130, the problem should have been solved. Closing this issue for now. Please feel free to re-open this issue, when the problem occurs again @lhqing @rachelzeng98. ; )

[2022-08-29 21:56] #1125 closed

[2022-08-30 06:31] tonxxd opened #1138 "Shared sky status"
Hi and thanks for this amazing project!

I need to fire the sky task from within a docker container. This means that right now, every time I run the docker container a `.sky` folder is created in the container fs.
Obviously when i type `sky status` from my laptop i don't see any cluster. Even using the `-r` flag (to fetch the status from the cloud provider) it does not show any cluster.

I tried t

[2022-08-30 18:11] concretevitamin opened #1140 "[On-prem] machine with no credentials errors out in first `sky launch`"
Repro:
[code]
This will default to `Local` cloud being chosen, then some file not found error from `~/.sky/local/<name>.yml`. Found when debugging #1138.

[2022-08-30 18:33] Michaelvll opened #1141 "[Spot] Populate the FAILED job status to the spot job table"
When the spot controller failed due to some unexpected error, though the job status in `jobs.db` will be set to FAILED by skylet, but the status is not populated to the spot job table.

[2022-08-30 18:37] Michaelvll opened #1142 "[Spot] status refresh failed in controller due to no active gcp account"
Since ray autoscaler will empty the `~/.config/gcloud/configurations/config_default` file uploaded by the file_mounts, there will be no active GCP account on the spot controller. Though the launching and termination of the clusters still work, as `ray` uses the service account, the spot cluster status refreshing can fail due to the no active account error.

An error log reported by @concretevitami

[2022-09-01 01:25] lhqing opened #1145 "Fail to launch spot job due to wheels not found"
Hi Sky team,

I try to launch a spot job on a new controller with the latest sky from `git pull` The job keeps failing, and the log error is

[code]

And I go to `~/.sky/sky_wheels/`, the whl file exists, but located in a sub-dir named by its hash.
[code]

If I copy the `skypilot-1.0.0.dev0-py3-none-any.whl` file to `~/.sky/sky_wheels/`, the spot job succeed.

In my older controllers, the whl file

[2022-09-01 05:15] Michaelvll commented on #1145
Hey @lhqing , thank you for reporting this issue! We observed similar issue recently as well and is fixing it in #1144 . It will be merged soon. ;)

[2022-09-01 06:15] Michaelvll commented on #1145
The #1144 was just merged and should have fixed this problem. Closing this issue for now. Please feel free to re-open this if you still find this a problem @lhqing : )

[2022-09-01 06:15] #1145 closed

[2022-09-01 17:58] Michaelvll opened #1146 "[Spot] `sky spot cancel` does not interrupt PENDING or STARTING job"
The current behavior of our code is that we will set the spot job status for PENDING jobs to STARTING first before setting it to CANCLLED, which can be a bit confusing.

[2022-09-01 19:29] Michaelvll opened #1147 "[Core] Retry for rsync/ssh during cluster launch, task setup and submission"
Our task submission can encounter transient network issue during rsyncing the generated python program to the remote cluster. We can add retry for those operations.

[2022-09-02 06:42] lhqing commented on #1132
Thanks @concretevitamin

Today I had another spot VM stop at the STARTING for more than 1 hour. It seems happen after pre-emption.

The run.log, and provision.log attached
[stuck-starting-log_sky-2022-09-02-06-09-35-874213_provision.log](https://github.com/skypilot-org/skypilot/files/9475467/stuck-starting-log_sky-2022-09-02-06-09-35-874213_provision.log)
[stuck-starting-log_run.log](https://githu

[2022-09-02 15:50] concretevitamin commented on #1132
In GCP's console, does the cluster `worker-0901-m3c-loop-0-78` exist? If so, is it in a stopped state (indicating being preempted)?

[2022-09-02 16:37] concretevitamin commented on #1142
Just saw another instance of this problem. The instance was preempted about right after the first line of this log:
[code]
Maybe the right fix here is to let recovery kick in & retry launching?

[2022-09-02 17:11] lhqing commented on #1132
I forgot to take a screenshot... will make sure to do so next time. But the `worker-0901-m3c-loop-0-78` status was Running, and the CPU was constantly 1%.

[2022-09-02 18:06] Michaelvll commented on #1142
Great  observation! Is the instance preempted in the GCP console? I am asking this because the log seems suggesting that the problem seems to be caused by the default account not set or overwritten by the ray autoscaler.

[2022-09-03 15:37] concretevitamin commented on #1142
Yes, I checked in console's detailed logging and the VM was preempted. The actual preemption seems to happen ~4-5 minutes after the preemption notice's timestamp -- around the first line of the log snippet above.  Current hypothesis is that somehow/whenever after preemption, the active account missing error would show up.

[2022-09-04 23:47] lhqing opened #1154 "Directories missing in GCS file_mounts"
Hi Skypilot team

**Problem**
I am using file mount on a GCS bucket, but I found many directories missing in the mounted path on VM.

For example:
[code]

[code]

**Cause**
I think this is because `gcsfuse` does not implicitly create directories that don't have corresponding objects, unless using a `--implicit-dirs` flag (has performance drawbacks), as explained here:
https://github.com/GoogleClou

[2022-09-05 00:16] lhqing commented on #1154
For now, I did the following in VM with the file mount supported by `gcsfuse`. And I can see all my files with `file_mounts`

[code]

[2022-09-05 04:23] romilbhardwaj commented on #1154
Thanks for the detailed report @lhqing! As you correctly identified, we don't add `--implicit-dirs` when mounting GCS buckets for performance and cost reasons.

As a GCS user, would you like to have `--implicit-dirs` enabled by default? We can enable it by default if you think it's an important default to have.

As you mention, it would be good to expose this control to the user, but we also want

[2022-09-05 18:43] lhqing commented on #1154
Hi @romilbhardwaj, I think for now I can manually fix this problem by creating dir by myself. It's OK not to add `--implicit-dirs`.

I am not sure how much latency and cost this parameter will add if enabled, I guess it might be better to keep gcsfuse's default setting. But the missing data did create some confusion in the beginning, I guess some notice/warning can be added to the doc about using

[2022-09-05 21:56] lhqing commented on #1132
@Michaelvll logs for another stuck example
[provision.log](https://github.com/skypilot-org/skypilot/files/9492110/provision.log)
[run.log](https://github.com/skypilot-org/skypilot/files/9492112/run.log)
[storage_mounts.log](https://github.com/skypilot-org/skypilot/files/9492113/storage_mounts.log)

<img width="1734" alt="image" src="https://user-images.githubusercontent.com/29302823/188515527-6e44

[2022-09-06 12:03] tonxxd commented on #1138
Thanks @concretevitamin
It's not a blocker but i am trying to find a solution to avoid the issue. I'll look at the code to see if i manage to contribute, if you have ideas please let me know :)

[2022-09-07 01:06] Michaelvll opened #1157 "[Mount] `sky start` will not mount the file_mounts"
From our pilot user @lhqing: when he stop the VM for the jupyter lab task and start the VM again with `sky start`, the file_mounts with MOUNT mode will disappear in the target dir. Even though he could run the `sky launch` again, he has to remove the setup commands to avoid overhead for setting up the environment again.

We can have three design choices here:
1. mount the files after `sky start` a

[2022-09-07 03:07] concretevitamin commented on #1157
+1 to option 2. This issue has been raised by another user before, IIRC.

[2022-09-07 23:35] Michaelvll opened #1159 "[TPU] gcloud error when `sky down` a stopped TPU node"
I encountered the following issue by using the following commands:
[code]
[code]

[2022-09-08 18:33] concretevitamin commented on #1138
@tonxxd Got it. One potential workaround is when constructing `ResourceHandle`, pass in a relative path for the `cluster_yaml` field.  Namely rather than storing `/root/.sky/generated/sky-5204-root.yml`, we can store `~/.sky/generated/sky-5204-root.yml`. This way with some mounting & permission tricks the container should be able to share the host's status information.

Perhaps try doing the absol

[2022-09-08 22:55] suquark commented on #1130
Oh, then it seems to be a Ray client issue. Ray client is still not very stable, try avoid using `ray://` as much as possible, because this would use ray client.

[2022-09-09 05:04] Michaelvll opened #1160 "[Storage] Investigate seaweedfs"
We can check the seaweedfs to see if it has better performance and consistency guarantee than our current goofys+gcsfuse soltuion. https://github.com/seaweedfs/seaweedfs

[2022-09-09 06:12] tonxxd commented on #177
Related to https://github.com/skypilot-org/skypilot/issues/1138
Would be interesting to evaluate the option for an external SQL database instead of the local SQLite

[2022-09-09 18:18] Michaelvll commented on #181
Also requested by @lhqing .

[2022-09-09 22:54] romilbhardwaj opened #1161 "Invalid cluster name is generated if username has uppercase or invalid characters"
If the user does not specify a cluster name, we randomly generate a name appended with the username appended to it. E.g.,
[code]

If the username has underscores or capital letters then it generates an invalid cluster name which fails our regex check:

https://github.com/skypilot-org/skypilot/blob/10967e6c17bee50827dfc6d1ea5cdd7fff2d6c8c/sky/backends/backend_utils.py#L1809-L1826

[code]

We should

[2022-09-10 06:58] Akshat977 commented on #1161
Hi @romilbhardwaj ,
This issue seems to be a good initiation of my journey towards contribution to FOSS projects.
Can you please assign this to me?

[2022-09-10 07:07] romilbhardwaj commented on #1161
Thanks for taking this up @Akshat977!

[2022-09-11 00:15] Michaelvll opened #1163 "[Spot] An option for keeping failed spot job for a while before termination"
When something wrong happens with the spot job, it would be nice to be able to log into the spot cluster to take a look at the problem. As proposed by @lhqing, having an option like `--keep-minutes-after-error 60` for the spot launch can be useful for debugging.

[2022-09-12 19:01] romilbhardwaj opened #1165 "Ability to run SkyPilot Tasks locally"
Using SkyPilot requires access to one or more supported cloud providers. This is a big barrier to entry for users who don't currently have access to clouds, those who work with other clouds or are just curious about SkyPilot.

It would be nice to have a local mode[^1] which allows users to run SkyPilot tasks on their local machine. #968 provides a prototype of this vision - it creates a ssh-able d

[2022-09-12 19:53] WoosukKwon opened #1167 "[GCP] Support for A100-80GB instances"
GCP recently started to offer A100-80GB, with a new instance type a2-ultragpu-*g`. We need to support it.

[2022-09-12 22:23] chrislusf commented on #1160
Would like to help! Please use the latest version ( 3.27 as of now ) to test, and report if any issue.

[2022-09-12 23:17] Michaelvll opened #1168 "[GCP] Dump the service account credentials of ray autoscaler for the cloud storage"
We need to use the service account credentials to manage the cloud storage. Otherwise, we could not upload data to the existing bucket with the following error.
[code]

[2022-09-12 23:50] concretevitamin commented on #1160
Thanks @chrislusf!

[2022-09-13 16:33] concretevitamin opened #1169 "Make `sky logs` with piping handle interrupts gracefully"
If using `sky logs .. | grep ...` in a pipe, then ctrl-c would print out a long stacktrace:
[code]

[2022-09-14 06:01] Michaelvll opened #1170 "`show-gpus` show prices on different region/zones"
It would be nice to show prices on different region/zones instead of per cloud based.

[2022-09-20 00:53] vivekkhimani commented on #1170
Hey @Michaelvll! I am currently investigating this issue and exploring various ways to go about implementing it. Currently, ```sky show-gpus``` supports ```--cloud``` option to show GPU availability filtered by the cloud provider. How do you feel about adding another option ```--region``` which will show the GPU availability by region? Also, we don't show pricing in the current output as well. Is

[2022-09-20 03:31] concretevitamin opened #1172 "Should `sky down mycluster` terminate `mycluster`'s spot controller too?"
Quick note for investigation.  I used laptop to launch a bunch of clusters, from which a bunch of spot jobs were spawned. On laptop, I `sky down` those clusters, but I'm surprised to see the spot controller VMs are not down'd. This is expected behavior, but unintuitive.

[2022-09-20 15:39] Michaelvll opened #1173 "`sky stop` not working for Azure and create multiple VMs with the same name"
I did `sky launch -c vision-azure 'some commands'`, `sky launch -c vision-azure 'some commands'` and later `sky stop vision-azure` without error. The dashboard shows there are two `vision-azure` running.

[2022-09-20 19:38] ewzeng commented on #1123
Hi @Michaelvll
I'm new to SkyPilot, and I think this is a good issue to get me started. Could you assign it to me?
Thanks!

[2022-09-21 20:18] romilbhardwaj commented on #1170
These are good questions @vivekkhimani!

I think it will be useful to clarify the how this flag is to be used. Each cloud has different names for the same geographical region (e.g., california is `us-west-1` on aws, `us-west2-<abcd>` on gcp, `westus` on azure). There are two modes:

1. `--region` can be specified only with `--cloud`. E.g. `sky show-gpus --cloud aws --region us-west-1`: This is eas

[2022-09-21 21:55] Michaelvll commented on #1123
Hey @ewzeng, thanks for taking this! Just assigned this to you. : )

[2022-09-21 22:36] Michaelvll commented on #1170
Hey @vivekkhimani, it would be great if you want to take a look at this! I agree with @romilbhardwaj's comment that we may want to start from that the `--region <region-name>` needs to be with `--cloud`.

Here are several requests:
1. `sky show-gpus V100`: display as the origin -- show the cheapest price for each cloud as following.
[code]
2. `sky show-gpus V100 --cloud aws,gcp`: show the results

[2022-09-22 20:39] vivekkhimani commented on #1170
Thanks, @romilbhardwaj, and @Michaelvll for the clarification.

@romilbhardwaj I noticed the different naming conventions between different providers and was leaning towards your Option 2, which would include "normalizing" all of the cloud providers' own naming conventions for the regions. However, option 1 would be easier to implement and makes more sense for now.

@Michaelvll thanks for the demo

[2022-09-24 00:15] #1123 closed

[2022-09-26 04:16] romilbhardwaj opened #1175 "Invalid YAML errors are not surfaced to the user"
If the user's YAML has incorrect syntax, the error message thrown by SkyPilot is not very helpful in debugging:

[code]
This does not tell the user anything about how to fix the YAML.

Adding `SKYPILOT_DEBUG=1` makes it more helpful:
[code]
Can we surface this information to the user in a nicer way if their YAML is invalid?

[2022-09-28 23:06] romilbhardwaj commented on #953
Closed with #969.

[2022-09-28 23:06] #953 closed

[2022-09-29 05:14] Michaelvll opened #1177 "Verify aws credentials when `sky check`"
When I enter the wrong aws credentials in the `aws configure` and run `sky check`, it still shows enabled, which should show correct hints instead.

[2022-09-29 06:15] #1138 closed

[2022-09-29 23:12] lhqing opened #1178 "spot vm provision keep retry when name is too long"
Hi Sky team,

I specified a long name (which I should prevent in future) for spot VM, and the provision keeps retry. Obviously, this is not necessary as the criteria will keep failing.

Thanks!

[code]

[2022-09-30 03:36] #887 closed

[2022-09-30 06:59] lhqing opened #1181 "sky spot status json error when the shell prints additional warning"
Hi Sky team,

One of my labmate's bash env has some setting problem that his bash continues prints warning like this:
[code]

This then triggers a sky issue when checking `sky spot status`

[code]

This error is because the bash warning is included in the `job_table_json` content inside the `sky.core.spot_status` function
https://github.com/skypilot-org/skypilot/blob/master/sky/core.py#L494-L495

[2022-09-30 19:32] Michaelvll commented on #1181
Thank you for identifying and digging into this issue! We just submitted a PR #1182 to solve it. Please give it a try by running `git pull; git checkout spot-table-decode` and run `sky spot launch ''` to update the spot controller, when you get a chance. : )

[2022-10-01 20:49] vivekkhimani opened #1186 "[Developer-Experience] Adding pre-commit hooks or tox for consistency while creating PRs"
## Tl;dr
I am a new contributor to this repo and have been working on one of the first issues. I was trying to run the ```yapf``` formatting, tests, and ```PyLint``` before pushing a PR for review. I noticed that workflows exist for each of these tools which get triggered while merging to master or creating a release.

## Proposal
I am proposing adding ```tox``` pipeline and ```pre-commit```hooks

[2022-10-02 04:44] romilbhardwaj commented on #1186
Thanks for this suggestion @vivekkhimani! I think this is indeed a step in the right direction and we should have some kind of automated client-side checks. Some thoughts:

1. The linter and the tests (other than the smoke tests) can take some time to run. We should probably run them only pre-push, and have an easy way to bypass the checks if the author wants (`--no-verify` flag from git should wo

[2022-10-02 05:41] vivekkhimani commented on #1186
Thanks, for a quick response @romilbhardwaj! The direction I was having essential checks that can be run super quickly in ```pre-commit``` and have ```tox``` steps defined for tests and linters. As developers have more control over ```tox``` they can choose to run it if they have made any changes to those files.

Also, the reason I proposed ```pre-commit``` over git hooks as it's sort of another l

[2022-10-02 05:51] romilbhardwaj commented on #1186
Sounds good! A PR would be very helpful in evaluating this decision. Thanks @vivekkhimani!

[2022-10-02 07:43] vivekkhimani commented on #1170
https://github.com/skypilot-org/skypilot/pull/1187 should be ready for review!

[2022-10-02 18:05] romilbhardwaj opened #1188 "`sky show-gpus <gpu>` and `sky show-gpus -a` does not list all regions"
`sky show-gpus` does not list all regions a GPU is available in.

For instance, we know that V100 is available in aws us-east-1, aws us-east-2 and aws us-west-2. This is also recorded in our catalog (L4884-L4896 in [aws.csv](https://github.com/skypilot-org/skypilot-catalog/blob/master/catalogs/v2/aws.csv)).

However, when I run `sky show-gpus V100 --cloud aws`, I see only us-east-1.
[code]

Same w

[2022-10-02 18:07] romilbhardwaj commented on #1188
Oh never mind, this seems specific to #1187 - will follow up in the PR.

[2022-10-02 18:07] #1188 closed

[2022-10-02 20:45] #1178 closed

[2022-10-02 20:52] #1181 closed

[2022-10-03 18:31] infwinston opened #1189 "filemount doesn't support path name with space"
With the below file_mounts config
[code]
will trigger the below rsync error
[code]
To fix this issue, I think we need to add quotes to wrap the path in the rsync command.

[2022-10-03 18:59] concretevitamin commented on #1138
@tonxxd This has been fixed by @Michaelvll. Let us know if it works for you - here's a snippet for your docker use case:

https://github.com/skypilot-org/skypilot/pull/1176#pullrequestreview-1124627059

[2022-10-03 19:08] concretevitamin commented on #1157
Fixed by #1184.

[2022-10-03 19:08] #1157 closed

[2022-10-04 03:18] ewzeng commented on #1165
I brought #968 up to date with master! The code is [here](https://github.com/ewzeng/skypilot/tree/onprem_docker). I squashed everything into one commit (but I can restore the history if you prefer).

[2022-10-04 04:04] romilbhardwaj commented on #1165
Awesome work @ewzeng! We should now look at how we can move some of the `local` directory's components to either our code or to `~/.sky/`. There are a few things I anticipate doing here:

1. We should move the container creation and deletion logic from `local/setup.sh` and `local/cleanup.sh` to `cli.local_up` and `cli.local_down` (perhaps define some methods in backend_utils.py and call subprocess

[2022-10-04 07:11] tonxxd commented on #1138
Great, thanks @concretevitamin ! I'll update the comment when I try

[2022-10-04 17:01] ewzeng commented on #1165
Sounds good! I will start working on this.

[2022-10-04 18:47] gmittal opened #1193 "Support for multiple GCP configurations and remove `default` requirement"
I have multiple GCP accounts/configurations (TPU research cloud, personal account, various organization accounts, etc.) and would like to be able to switch between them and have SkyPilot automatically use the currently active configuration (or have some way to hardcode which configuration SkyPilot should always use).

I also would like to name my configurations something other than `default` and h

[2022-10-04 19:37] #1073 closed

[2022-10-04 20:53] concretevitamin commented on #586
This should be fixed by #1191.

[2022-10-04 20:53] #586 closed

[2022-10-04 21:11] concretevitamin commented on #1019
Repro:
* Create a new project on GCP console
* Run `gcloud init` to choose the new project
* Run `gcloud auth application-default login`
* `sky cpunode --cloud gcp` would trigger these errors

[2022-10-04 23:12] Michaelvll opened #1195 "[Spot] Correct hint after ctrl-c from `sky spot launch` during streaming logs"
Currently, when we ctrl-c from `sky spot launch` the hint for canceling jobs should be `sky spot cancel`, but the current output is as following:
[code]

[2022-10-05 05:12] parasj opened #1198 "Adding support for JarvisLabs"
I've been using JarvisLabs for a external collaboration, and it would be great if Skypilot could provision A100 nodes on JarvisLabs. https://jarvislabs.ai/pricing/

[2022-10-05 05:15] franklsf95 opened #1199 "SSH hostname inconsistent in ~/.ssh/config"
SkyPilot told me:
[code]

But the relevant section is in `~/.ssh/config` is
[code]

The reason is that I (did not realize that I) have another `Host p3` in the config file. Kudos to SkyPilot for not overwriting my other `p3`, but it should probably adjust the prompts, etc.

[2022-10-05 15:25] concretevitamin commented on #1193
Hey @gmittal a few questions:

- By "the currently active configuration", do you mean whatever is currently encoded in `~/.config/gcloud/active_config`?  This file contains a string that identifies a file in `~/.config/gcloud/configurations/`.
- For switching, you could run `gcloud init` to choose the new project and then `gcloud auth application-default login`. This will switch the config files c

[2022-10-05 22:33] #1177 closed

[2022-10-05 22:39] michaelzhiluo commented on #1165
Perfect @ewzeng. It is good to get Sky On-prem and local mode working in tandem (i.e. local mode using Sky onprem as backend).

[2022-10-05 22:41] michaelzhiluo commented on #1161
Any updates on this Git issue @Akshat977 ?

[2022-10-05 22:49] michaelzhiluo commented on #1091
@WoosukKwon Can't seem to replicate on most recent master (i.e. `sky launch --cloud aws` , ssh into node and run `sudo -H pip3 install skypilot`)

Also, this issue will not be relevant anymore after #1114 is merged, so I'll close it for now.

[2022-10-05 22:49] #1091 closed

[2022-10-06 00:32] pschafhalter opened #1201 "p4de.24xlarge not supported"
Hi, I'm trying to run an experiment using a `p4de.24xlarge` instance on AWS, but I'm unable to launch the instance using skypilot. I have access to the instance via AWS on us-west-2, and am able to launch it via the web interface.

I tried the following commands and ran into the following errors:
[code]

[code]

`p4de.24xlarge` also doesn't appear when searching `sky show-gpus --all`.

More info o

[2022-10-06 00:44] michaelzhiluo commented on #1201
It looks like the bug has to do with the service catalog not having the instance type recorded. @WoosukKwon

[2022-10-06 04:37] parasj opened #1202 "[bug] `skypilot down` stuck for TPU VM nodes"
Skypilot is stuck deprovisioning a set of TPU VM nodes.

[code]

I had to manually clean up resources but skypilot is still stuck.

[2022-10-06 04:47] Michaelvll commented on #1202
Wondering if you have `sky launch -c tpu` running in parallel? Our `sky launch` will hold the lock for the cluster and `sky down` may stuck waiting for the lock to be released. Could you try to `rm ~/.sky/.tpu.lock ~/.sky/.tpu1.lock ~/.sky/.tpu2.lock` and do `sky down "tpu*"` again?

[2022-10-06 04:53] franklsf95 opened #1203 "[Storage] VM loses S3 mount after stop/start"
To reproduce: make `cluster.yml`:

[code]

Then

[code]

I _think_ this also happens on a single-node VM but I haven't verified it yet.

[2022-10-06 05:00] Michaelvll commented on #1203
Yes... current `start` will not mount the s3 bucket again. Please try to run `sky launch --no-setup -y`.

[2022-10-06 05:05] Michaelvll commented on #1203
This problem was recently brought up by @lhqing as well, in #1157.

TODO: Add the `sky launch --no-setup` in the doc for the storage mount.

[2022-10-06 05:14] franklsf95 commented on #1203
Thanks! Just to make sure, I should do `sky launch cluster.yml -c g4 --no-setup` in this case?

[2022-10-06 05:16] Michaelvll commented on #1203
Ahh, yes. Sorry for the uncomplete command.

[2022-10-06 05:25] parasj commented on #1202
I'm not seeing any lock files:

[2022-10-06 05:31] concretevitamin commented on #1202
How long was it stuck for before you cleaned it up? I've found many gcloud commands to take quite a while,  sometimes nondeterministically, which may be what happened.

cc @infwinston

[2022-10-06 05:39] #1095 closed

[2022-10-06 06:35] parasj commented on #1202
About 3 hours

[2022-10-06 06:36] parasj commented on #1202
After further investigation, it seems like one cluster hit a provisioning issue and didn't actually start any TPU VMs.

[2022-10-06 06:43] parasj opened #1205 "Interactive node CLIs should have feature parity with YAML specification"
The interactive node CLIs (gpunode, tpunode) are missing key functionality I'd like to use:
* specification of a single region and zone to use for provisioning
* `--retry-until-up`

Overriding the Skypilot optimizer with a single region is helpful since it doesn't consider factors such as bucket locations. I'd prefer to have Skypilot wait until it can allocate a VM in a single region until success

[2022-10-06 17:32] franklsf95 commented on #1203
There's no `--no-setup` in 0.1.2 yet. Is this on master?

[2022-10-06 17:57] iojw opened #1206 "Incorrect SKY_NODE_RANK on nodes"
I would like to run a command only on the head node when the SkyPilot cluster launches. However, the `SKY_NODE_RANK` environment variable does not have the expected value of 0 on the head node on AWS.

Here is an example config that reproduces this:
[code]

Launching this cluster, you can observe that `SKY_NODE_RANK` is printed as 0 on worker nodes based on their IP addresses.

Use case: I would l

[2022-10-06 18:15] concretevitamin commented on #1206
Thanks @iojw - do you have time to look into this? May be a good chance to dig into the backend.

[2022-10-06 20:15] iojw commented on #1206
@concretevitamin Yep! I can take this. Just to confirm, what's the expected value of `SKY_NODE_RANK` for all nodes? Is it based on some sort of ordering, or is it simply non-zero for non-head nodes?

[2022-10-06 20:17] Michaelvll commented on #1203
Yes, it is in the master right now and will be in our next release. Please feel free to switch to the latest master branch with the following commands:
[code]

[2022-10-06 20:19] concretevitamin commented on #1206
It should be
[code]
etc. in a stable fashion. The stableness part may be tricky --  @Michaelvll can comment more on the current treatment -- e.g., we can sort by IPs, but after stopping + restarting the IPs may change.

[2022-10-06 20:32] Michaelvll commented on #1206
Yes, I think the keeping the order the same as mentioned above is a good idea. If the user request a subset of the nodes, we can still keep the same order, i.e.:
[code]
or
[code]

Our current codepath for reserving the nodes are in https://github.com/skypilot-org/skypilot/blob/f9b530038f2c607b0062f2d203d95e5da878dad9/sky/backends/cloud_vm_ray_backend.py#L246
Ray placement group will randomly alloc

[2022-10-06 20:41] ewzeng commented on #1205
Working on it :)

[2022-10-06 23:21] Michaelvll commented on #1203
We are planning to make the `sky start` automatically mount the cloud storage previously mounted. Please stay tuned for the update. ; )

[2022-10-07 14:47] #1019 closed

[2022-10-07 18:37] michaelzhiluo commented on #1206
It is possible that, because the application is using Ray, it is messing up the order of `SKY_NODE_RANK`. Perhaps try & replicate it on an empty cluster first?

[2022-10-07 22:06] romilbhardwaj opened #1210 "[Onprem] Add ability to specify custom ports for ssh"
Currently sky onprem assumes port 22 for ssh access. However, servers may use different ports, ssh services behind a load balancer may use different ports on the same IP and local mode container (#968, #1165) may run on ports other than 22 if the user already has a ssh server running.

Implementing this would require modifying the [onprem YAML](https://skypilot.readthedocs.io/en/latest/reference/l

[2022-10-07 22:30] Michaelvll opened #1211 "Sharing `~/.sky` across machines"
@lhqing  mentioned sharing the `~/.sky` across multiple machine is very useful, and he has successfully done that with placing it on the Google Drive. It works well for all stopped clusters, but it has problems logging into the UP cluster from another machine.

TODO:
- [ ] Add all the ssh config information into an external file under `~/.sky` and import it in the `~/.ssh/config`, instead of direc

[2022-10-09 01:05] romilbhardwaj opened #1213 "[Installation] `pip install .[aws]` does not work when installing from source"
If you run `pip install .[aws]` in the skypilot repo, it installs skypilot but `import sky` in python or invoking the sky cli fails with `ModuleNotFoundError: No module named 'googleapiclient'`. Installing with `pip install .[aws,gcp]` works.

See full log below.

### Reproduction
1. Create a new VM on aws with ec2linux deep learning AMI
2. ssh into it and run:
[code]
Logs:
[code]

[2022-10-09 01:20] romilbhardwaj opened #1214 "[Onprem] User hot-swapping fails silently"
Say I `sky launch -c onprem whoami_task.yaml` with this onprem yaml at `~/.sky/local/onprem.yaml`:

[code]

Output is:
[code]

Now say I have another user on my onprem machine that I want to use for submitting future tasks. If I change `ssh_user` in onprem.yaml to `ssh_user: test` and run `sky launch -c onprem whoami_task.yaml`, output is still the same:
[code]

The user should have changed to `te

[2022-10-09 01:34] romilbhardwaj commented on #1214
Nvm, I had an issue with my local onprem YAML. I can't reproduce this error anymore.

[2022-10-09 01:34] #1214 closed

[2022-10-09 03:06] concretevitamin commented on #1213
This is being addressed by @ewzeng in https://github.com/skypilot-org/skypilot/pull/1209.

[2022-10-09 03:08] concretevitamin commented on #1213
Merged #1209. This should’ve been fixed now.

[2022-10-09 03:08] #1213 closed

[2022-10-09 15:51] concretevitamin commented on #1210
In this format,
[code]
it's not clear what these ports are used for.  Before we implement this, can we survey how other systems support SSH ports?

Also, is this related to the "local mode", or is this a nice-to-have for the on-prem mode?

[2022-10-09 16:29] romilbhardwaj commented on #1210
Good point - some systems (e.g. k8s services) use a new yaml field for each port to be exposed on the service:

[code]

`IP:PORT` appealed to me because (a) it is concise (b) we have multiple IP addresses and each can have a different port. It's also commonly used in specifying sockets (such as for http). But I agree, we should look at other systems to before finalizing this.

It's both, but large

[2022-10-09 22:55] Michaelvll commented on #1172
I think this could lead to a deep recursive detection finding all the clusters launched on the clusters in local cluster table. Probably, a better solution is to share the `~/.sky` folder accross the clusters?

[2022-10-10 00:31] concretevitamin commented on #1210
Can we consider having us automatically pick a free port? To alleviate user burden to pick ports.

[2022-10-10 00:33] romilbhardwaj commented on #1210
Yep! We will/should automatically find a port. Once we find that, we will pass the port number to sky onprem using this feature request

[2022-10-10 00:39] concretevitamin commented on #1210
The reason this format is underspecified is because it’s only SSH. Port
conflict can happen to other Ray ports. Should we have a general port
finding solution?

On Sun, Oct 9, 2022 at 17:34 Romil Bhardwaj ***@***.***>
wrote:

[2022-10-10 01:03] romilbhardwaj commented on #1210
I'm not sure I fully understand why we need to expose Ray ports for local mode. We should not have conflicts with the Ray port because those are within the container and not exposed on the host. Only the ssh port of the container is exposed on host. This is the same interface (ssh address, key) we have to VMs running on the cloud.

[2022-10-10 05:29] Michaelvll commented on #1154
As a first step, probably we can add this solution to our docs, i.e. asking the user to `mkdir -p` or `os.makedirs` the parent directory before using the file.

[2022-10-11 01:53] #1167 closed

[2022-10-11 08:25] concretevitamin commented on #715
I think the issue is if there's a concurrent `sky autostop` command.  Which
will not consider the ongoing user-level setup as "busy".

On Sun, Jul 17, 2022 at 5:38 PM Woosuk Kwon ***@***.***>
wrote:

[2022-10-11 17:23] romilbhardwaj opened #1222 "[Filemounts] Uploading a file creates symlinks, breaking docker volume mounts"
SkyPilot has different behavior when files are mounted vs when directories are mounted.

E.g., consider this file mount:

[code]

When directories are mounted (case 1), it copies the file contents to the destination path. This is expected behavior.
[code]

When files are mounted (case 2), it creates a symlink to the file.
[code]

Case 2 breaks docker support when apps try to volume mount `/inputs/

[2022-10-11 18:09] Michaelvll commented on #1222
I think the main reason for the symlink was to prevent some permission issues. Maybe @concretevitamin can say more about it.
Can we use hard links instead? I think the hard link should work with the mounting.

[2022-10-11 19:01] concretevitamin commented on #1222
Sorry, I don't remember the exact reasons why we chose to do soft symlinks rather than hard links / copying. Had something to do with permissions.

Here's what I dig up:

https://github.com/skypilot-org/skypilot/blob/c4fd2b13b3121da82abb59064fc389bee574c52e/sky/backends/backend_utils.py#L270-L282

#108

[2022-10-11 19:34] Michaelvll opened #1225 "[Spot] Auto-translated bucket leakage if the spot job is not submitted correctly"
Currently, the buckets generated by the auto file mounts translation will be leaked if the spot job is not submitted correctly, as we rely on `persistent: False` option in the skypilot storage, which will only take effect when the spot job successfully submitted to controller and managed by it.

[2022-10-11 19:36] infwinston commented on #1202
@parasj would you mind sharing the YAML you used? I haven't encountered this issue before and would like to try reproducing it.

[2022-10-11 19:46] concretevitamin opened #1226 "[Storage] Uploading file using Storage doesn't work"
`~/tmpfile` exists as a file (tried both empty and non-empty).

[code]

[code]

[2022-10-11 20:41] romilbhardwaj commented on #1226
ahh this is a duplicate of #1069:

TL;DR -
1. If the destination is intended to be a file, we cannot support MOUNT mode because all mounting tools require the mount point to be an empty directory. In this case, goofys/s3fuse would need `~/` to be empty.
    * While it might be possible to modify their source to use `mount -o nonempty`, it's tricky because the existing contents of the directory [wo

[2022-10-11 21:11] romilbhardwaj commented on #1226
Some notes from offline discussion:

* To preface - the above example is definitely undesirable behavior and we should at the very least raise an error here, telling the user to either use direct file mounts OR to move their files into a directory.
* Sky Storage is intended to be a "box" where users can put files. As a result, destination for Sky Storage must always be a directory, not a file.
* T

[2022-10-11 21:35] Michaelvll commented on #1211
Hey @michaelzhiluo, do you want to work on this TODO, as you created `~/.ssh/config` for multi-node?

[2022-10-11 21:46] concretevitamin commented on #1026
Cannot reproduce this anymore. This is probably caused by some state on my AWS account.

All passed on latest master:
- bash tests/run_smoke_tests.sh test_spot
- bash tests/run_smoke_tests.sh test_use_spot
- sky launch --region us-east-2 --use-spot --cloud aws -y

[2022-10-11 21:46] #1026 closed

[2022-10-11 21:46] Michaelvll opened #1228 "[Optimizer] Add disk price to the optimizer"
We are using the default disk type for all the clouds, and the price should be fixed for all the regions in each cloud. We can have a dict for the disk price and add it to the cost used in the optimizer.

Also, we need to have the price in the `sky status`, since the STOPPED cluster will still cost money for the disk.

Some references:
AWS: gp3 with IOPs 3000 costs: disk_size * 0.08 / 30 /24 per h

[2022-10-11 21:49] WoosukKwon commented on #941
@Michaelvll @infwinston Can we close this issue as we have the doc now?

[2022-10-11 22:05] concretevitamin commented on #195
Happy to close this, as we've started doing versioning and publishing on PyPI for a few months now ;)

[2022-10-11 22:05] #195 closed

[2022-10-11 22:07] infwinston commented on #941
Yes let's close it.

[2022-10-11 22:07] #941 closed

[2022-10-11 22:23] concretevitamin commented on #1131
Reopening, we can close this when https://github.com/skypilot-org/skypilot/pull/1207 is resubmitted.

[2022-10-11 23:36] concretevitamin commented on #1211
Related to/duplicates #177.

[2022-10-11 23:37] concretevitamin commented on #544
This has been recently supported: edit the file mounts, then do `sky launch --no-setup`.

[2022-10-11 23:37] #544 closed

[2022-10-11 23:42] romilbhardwaj commented on #1069
Tracked in #1226 with a deeper discussion there

[2022-10-11 23:42] #1069 closed

[2022-10-12 00:01] concretevitamin commented on #515
We've been advocating for installing sky in a new conda env, and have not received complaints for a long period of time.

Closing for now, please reopen if this shows up again.

[2022-10-12 00:01] #515 closed

[2022-10-12 00:28] concretevitamin commented on #656
With the latest master commit d41cf2f57b81c:

Using the repro in https://github.com/skypilot-org/skypilot/issues/656#issuecomment-1152955322 to launch 100 spot jobs:
- [ ] TODO: 98 jobs succeeded, 2 encountered
[code]

Took ~1 hour for 98 jobs (1.6 spot job per minute).

[2022-10-12 00:33] romilbhardwaj commented on #1226
This is partially mitigated with #1231, but I feel we need to a longer term solution to supporting uploading files to Sky Storage (perhaps the list of files suggestion above?). Leaving the issue open.

[2022-10-12 01:08] concretevitamin commented on #656
With the latest master commit d41cf2f57b81c14f89b500febe93da4df4a27173, launching 100 on-demand jobs concurrently still has problems, resulting in 71 clusters launched out of 100.

[2022-10-12 01:16] Michaelvll commented on #1054
One solution is to update the `ray-launch-hash` tag of the instance of the config that only has the `AvailabililtyZone` that the launched instance actually belongs to after the instance is launched.

[2022-10-12 01:20] concretevitamin commented on #753
Can this be closed @michaelzhiluo?

[2022-10-12 04:11] infwinston opened #1232 "[Provisioner] sky launch hangs forever when ssh connection is banned"
During Lily's onboarding session, `sky launch` hangs due to our campus wifi not supporting SSH connection. To reduce friction, we should immediately error out if SSH connection is not allowed.

[2022-10-12 04:16] infwinston opened #1233 "[Provisioner] Check whether disk_size should be increased for large AMIs"
Our default disk size is 256GB. We should check whether AMIs >256GB requires adjusting the disk size and update our document. Also, we may consider highlighting SkyPilot's support for AMI as it's not obvious for users when reading the document.

[2022-10-12 04:26] infwinston opened #1234 "sky launch failed due to pip install permission and dependency conflicts"
This error happened in Lily's onboarding session when she `sky launch` with her own AMI. The `pip3` on her server referred to a system one which requires root permission to install packages. and a couple package conflicts were triggered even with root permission.

Detailed log: https://gist.github.com/LiuXiaoxuanPKU/beec04d33af9c0688c34ba98e867f23c

Temporary workaround: we changed `pip3 install`

[2022-10-12 06:35] Sachin1939 commented on #1228
Hey @Michaelvll , I would like to work on this issue so could you please assign this issue to me since I want to start my open source contribution journey.
Thanks!

[2022-10-12 06:39] Michaelvll commented on #1161
Hey @Akshat977, since we did not hear back from you for a long time, we will reassign the issue soon. Please tell us your progress, if you are working on it. : )

[2022-10-12 11:52] Akshat977 commented on #1161
Hey @Michaelvll, I will be working on and completing the issue within this week, so please reassign me.

[2022-10-12 18:44] romilbhardwaj commented on #1233
disk_size indeed needs to be increased. I made a 500 GB AMI and tried provisioning it with SkyPilot without specifying a `disk_size` and got this error:
[code]

I'll add a note to the docs about this.

[2022-10-12 21:43] concretevitamin commented on #1228
Hey @Sachin1939 - feel free to send a PR on this.

[2022-10-12 21:59] concretevitamin opened #1240 "Ray logging prefix unexpectedly no longer being shown in color on latest master"
[code]
Previously, the Ray-added logging prefix `(sky-cacd-zongheng pid=23209)` was shown in color. On latest master it's no longer the case.

This problem exists for both `sky spot launch` and `sky launch`.

[2022-10-12 23:14] concretevitamin commented on #1232
According to this https://berkeley.service-now.com/kb_view.do?sysparm_article=KB0010499 ssh is enabled. We need to debug this.

[2022-10-12 23:17] concretevitamin commented on #1234
Related: we can consider highlighting any stderr output from `ray up` (provisioning) in red.

[2022-10-13 16:03] romilbhardwaj opened #1241 "[Examples] Examples are missing description and usage instructions"
One thing I notice throughout our examples is a lack of opening comments at the top of the YAML. It makes it really hard to understand for new users what each example does and how to use it (the how to use it is particularly hard to understand for non-typical examples, such as those in `examples/benchmark` and `examples/spot`).

We should try to add a few line description and a usage guide for eac

[2022-10-13 16:06] concretevitamin commented on #1241
+1. In fact, this structure of "One-line description -> Some more detailed descriptions -> Usage example" is from Google's style guides.  We should apply them to all examples, as well as modules/classes.  Ref: https://google.github.io/styleguide/pyguide.html#382-modules

[2022-10-13 19:30] zhoujt1994 opened #1243 "sky spot timestamp error when the shell prints additional warning"
Hi Sky team,

There is a problem related to #1181 . The error
[code]
leads to the failure of get_job_status in recovery_strategy.py. This made the controller kill the normal running jobs and restart the workers. See the full error message below.
[code]

[2022-10-13 19:35] Michaelvll commented on #1243
Thank you for raising the issue @zhoujt1994 ! We are working on it now. Please stay tuned!

[2022-10-13 22:09] zhoujt1994 commented on #1243
Thanks for the prompt reply! It looks like getting the job status remains a problem.
[code]

[2022-10-13 22:51] Michaelvll commented on #1243
Thank you for verifying it! We just found a bug in the code. Is it possible that you get a chance to try it again with the latest code in the branch with `git pull`?

[2022-10-13 23:50] #1243 closed

[2022-10-14 00:11] #640 closed

[2022-10-14 02:03] #1189 closed

[2022-10-14 02:26] lhqing opened #1246 "sky launch error when path contains space"
Hi Skypilot team,

I'm using google drive to sync `.sky` dir and soft link to '~/.sky' (for #1211 ), it was fine, but today I got this `subprocess.CalledProcessError` error that seems to be due to my google drive path having a space in it.

Thanks!

[code]

This is the error info:
[code]

[2022-10-14 02:30] concretevitamin commented on #1246
Hey @lhqing - what's the git commit of the skypilot repo? @infwinston just merged a fix for a related problem.

[2022-10-14 02:37] lhqing commented on #1246
I just did git pull and pip install, the error still exists.

[code]

[2022-10-14 02:38] infwinston commented on #1246
From the traceback it looks like a different problem than https://github.com/skypilot-org/skypilot/issues/1189.
[code]
It seems to be the YAML file path itself containing the space. The fix just merged only applies to the filemount section.
I can look into how to fix this.

[2022-10-14 02:41] infwinston commented on #1246
Just to confirm what went wrong. @lhqing does the error happen after you move your YAML file under Google Drive?

[2022-10-14 02:43] lhqing commented on #1246
Thanks for the quick reply! I fixed it (just for now) by copying my `.sky` from google drive into `~/.sky`

I think it is because my google drive path is `/Users/hanqing/My Drive/...`
This is the subprocess call that parsed the path incorrectly:
https://github.com/skypilot-org/skypilot/blob/master/sky/backends/backend_utils.py#L248-L250

[2022-10-14 02:44] lhqing commented on #1246
Yes

[2022-10-14 02:44] infwinston commented on #1246
Thanks for reporting and confirming this issue! I'm looking into how to fix this.

[2022-10-14 03:23] infwinston commented on #1246
@lhqing I just submitted a PR https://github.com/skypilot-org/skypilot/pull/1247. It'd be very helpful if you can confirm those changes fix the issue.

[2022-10-14 03:47] infwinston commented on #1246
The issue is auto-closed by github. Please feel free to re-open it if the latest commit still doesn't solve it.

[2022-10-14 03:51] lhqing commented on #1246
Yes, it works for me. Thanks!

[2022-10-14 04:05] lhqing commented on #1246
@infwinston Sorry I said this too early, there is another error due to the same problem:

[code]

[2022-10-14 05:01] infwinston commented on #1246
Ah sorry. Apparently there are more than one place we have to fix. Reopening this issue.

[2022-10-14 09:28] #954 closed

[2022-10-14 12:16] pounde opened #1252 "Shell complete error after upgrading to v0.2"
Receive the following error after upgrading to v0.2:
`(xv2_api) lb@LBsMBP ~ % sky status
Traceback (most recent call last):
  File "/Users/lb/miniconda3/envs/xv2_api/bin/sky", line 5, in <module>
    from sky.cli import cli
  File "/Users/lb/miniconda3/envs/xv2_api/lib/python3.8/site-packages/sky/cli.py", line 1017, in <module>
    def launch(
  File "/Users/lb/miniconda3/envs/xv2_api/lib/python3.

[2022-10-14 14:50] concretevitamin commented on #1252
Thanks @pounde. What does this show?
[code]

I'm guessing it's below version 8.  I'll send a PR shortly to pin the click version so `shell_complete` is available.

In the meantime, could you try:
[code]

[2022-10-14 14:56] pounde commented on #1252
@concretevitamin - sure enough. I'm running 7.1.2. Upgrading is causing some incompatabilites with a different package. I'll work that out and report back. Thanks!

[2022-10-15 17:24] romilbhardwaj opened #1255 "[Provisioner] Add support for opening ports on VMs"
I want to host a publicly accessible jupyter notebook using SkyPilot, where I distribute IP and port number and my customers can simply type `http://IP:PORT/` in their browser to access the notebook. I can fetch the IPs of the machines provisioned by SkyPilot by inspecting `~/.sky/state.db`, but only port 22 is open on the VMs. Security is handled at the application layer (I distribute jupyter aut

[2022-10-15 20:42] romilbhardwaj opened #1256 "[Provisioner] Shared cloud credentials cause interference when same cluster name is used"
I am sharing AWS credentials (i.e., same `~/.aws/credentials`) between two machines `L1` and `L2`.

If I run `sky cpunode` on `L1`, it works. Then I log in to `L2` and `sky cpunode`, it also works however my SSH connection to cpunode on `L1` disconnects. Trying to reconnect from `L1` using `ssh sky-cpunode-root` or `sky cpunode` fails with `ssh: connect to host 34.207.226.133 port 22: Connection r

[2022-10-16 03:50] parasj commented on #1202
I haven't encountered the issue after reinstalling Skypilot, so it may have been a transient issue.

[2022-10-16 03:50] #1202 closed

[2022-10-16 20:53] infwinston commented on #1246
@lhqing we just merged a PR (https://github.com/skypilot-org/skypilot/pull/1250) to fix this! let us know if the issue still persists. thanks :)

[2022-10-16 23:30] Michaelvll opened #1258 "[Core] Fail to launch task on existing cluster with odd GPU numbers when region/zone specified"
Reproducible code:
[code]
It raises:
[code]

However, `sky exec --gpus K80:2 --region us-central1 test-gpu 'echo hi'`works, which is inconsistent.

[2022-10-16 23:55] #1240 closed

[2022-10-17 00:00] romilbhardwaj opened #1260 "[Provisioner] Multi-node provisioning for large clusters fails on GCP"
Provisioning a multi-node cluster with `num_nodes ~50` fails on GCP. Works on AWS. Works on GCP for 2 nodes.

Example YAML:
[code]

[code]

I can see the workers ready on the google cloud console, but the terminal shows `0 of 49 workers ready...`. `ray status` also shows waiting for workers (provisioning [logs](https://gist.github.com/romilbhardwaj/a1ada81832dfbcabbb6ea6b09650b57b)).

Might be rel

[2022-10-17 04:50] Michaelvll commented on #1260
Great finding @romilbhardwaj !  I just tried it out with infinite `_NODES_LAUNCHING_PROGRESS_TIMEOUT`, and it seems that `ray status` takes 6 minutes to find out the first 10 workers have been successfully added to the ray cluster [here](https://gist.github.com/Michaelvll/36420121745b8fd2d678511af77e3d18).

It is a bit tricky to increase the number, as that will increase the overhead for failing o

[2022-10-17 16:57] Michaelvll commented on #1260
Another problem found when trying out this issue. Our `sky down cluster_name` for the 50 node cluster does not work well producing the following error.
[code]

[2022-10-17 18:09] Michaelvll opened #1262 "[TPU VM] ray status shows weird resource number"
After launching a `tpu-v3-32` instance with `sky launch -c test-tpuvm ./test.yaml`, `sky exec test-tpuvm ./test.yaml` multiple times, and `sky cancel test-tpuvm -a`, the `ray status` on the VM becomes quite weird with negative resource number in the following output. Do you have an idea of what happens here @infwinston ?
[code]
[code]

[2022-10-17 18:54] Akshat977 commented on #1161
Hey @Michaelvll , can you please review my pull request?

[2022-10-17 22:42] infwinston commented on #1262
Copied from our offline discussion:

Looks like when I `sky cancel` each job separately it works fine. but when I do `sky cancel -a` the minus cpu thing occurred. Is it possible to be some race condition bug in Ray job? cause we run `job_client.stop_job(job)` in [parallel](https://github.com/skypilot-org/skypilot/blob/master/sky/skylet/job_lib.py#L519) for `cancel -a`, not sure if anything can go

[2022-10-17 23:46] Michaelvll commented on #1252
Hey @pounde, the problem should be fixed in #1261. Please feel free to have a try for it, when you get time by
[code]

[2022-10-18 03:29] infwinston opened #1266 "Sky spot launch filemount failure on RISE on-prem"
Looks like one smoke test is not passing on our on-prem server with NFS for home directory.
This bug can be triggered when `/tmp` is mounted on a different disk than the files in `filemount`. @Michaelvll do you think directly copy the files rather than linking them under `/tmp` would fix this?
[code]

[2022-10-18 04:04] infwinston opened #1267 "Cloud bucket used by spot launch may not be cleaned up"
I tried to `sky spot launch` a task that contains skypilot codebase as the workdir. It seems that the transient cloud bucket for workdir won't be cleaned up correctly after the task finishes or fails as the #files is more than 256 ([reference](https://gcloud.readthedocs.io/en/latest/storage-buckets.html#google.cloud.storage.bucket.Bucket.delete)). I retrieved the below error by `sky log` the contr

[2022-10-18 04:31] lhqing commented on #1246
@infwinston, thank you!
I tried the up-to-date skypilot, and it works all good for me.

[2022-10-18 04:49] concretevitamin commented on #1246
Fixed by#1250.

[2022-10-18 04:49] #1246 closed

[2022-10-18 04:55] infwinston commented on #578
Closing this issue as TPU VM is now supported.

[2022-10-18 04:55] #578 closed

[2022-10-18 05:21] romilbhardwaj commented on #629
I just ran into this issue again. Skypilot 0.2.0.

Very simple YAML:
[code]

[code]

[2022-10-18 05:58] romilbhardwaj opened #1268 "[Provisioner][Feature Request] Use quotas to guide region/cloud fail over"
Current failover logic iterates over a series of regions/cloud. However, often the reason for provisioning failures is the lack of quotas. User may have quota in just one region, but they must wait for failover to happen across many other regions first. (Of course they could specify the region in the yaml, but that's only if the user knows where they have quotas)

Can we obtain user's quotas from

[2022-10-18 06:13] WoosukKwon commented on #1268
I agree that it'd be super useful. Especially, when provisioning multiple nodes, the failover time can be very long.

I've discussed this with @infwinston a while ago. If I remember correctly, one challenge was to understand the GCP's complex quota logic.

[2022-10-18 06:21] romilbhardwaj opened #1269 "[Docs] Spot controller missing from docs"
The docs lack information on how to manage the spot controller, especially on how to terminate the controller. We need to answer questions like:

1. Is the spot controller shared among tasks?
2. How long does the spot controller keep running?
3. I am uninstalling SkyPilot or I do not want to keep the controller stopped. How do I terminate the spot controller?

[2022-10-18 18:57] #1118 closed

[2022-10-18 19:00] michaelzhiluo opened #1271 "[Feature Request] Azure Blob Storage for Sky Storage"
During a conversation with one of our potential users for Skypilot, he mentioned it would be a nice to have to support Azure Blob storage, since he only has credits for Azure.

[2022-10-18 19:05] michaelzhiluo opened #1272 "[Feature Request] Different Types of Disk Storage"
So far, Skypilot, when it launches/provisions VMs, uses standard persistent disk storage for its VMs.
One user of Skypilot mentioned that there should be support for a different types of disk storage, such as Azure Premium SSD (https://learn.microsoft.com/en-us/azure/virtual-machines/premium-storage-performance).

[2022-10-18 19:07] michaelzhiluo opened #1273 "Azure `sky logs` CredentialUnavailableError"
Tested this on most recent master.

When syncing logs from any job ran on an Azure-provisioned VM, there is a timeout error from unable to get authentication token for Azure.

[code]

[2022-10-19 05:39] #1269 closed

[2022-10-19 21:20] pounde commented on #1252
I'm working in a new env now but it seems to be working fine. Thank you.

[2022-10-19 21:20] #1252 closed

[2022-10-19 21:21] iojw commented on #1206
@michaelzhiluo The simple config I listed in the post is capable of reproducing this issue!

I believe the issue is that we assign ranks based on the list of ips in the placement group returned by the `ray.get()` call in the following code, but the head node is not always the first node in this list.
https://github.com/skypilot-org/skypilot/blob/f9b530038f2c607b0062f2d203d95e5da878dad9/sky/backend

[2022-10-19 22:47] concretevitamin opened #1277 "UX: spot and non-spot versions use different names to see existing jobs: `sky queue` vs `sky spot status`"
A comment from a new user:

 I found it strange that the spot and non-spot versions use different names for similar tasks.
* to see existing jobs: `sky queue` vs `sky spot status`

-----

We can consider renaming options.

[2022-10-19 23:47] romilbhardwaj opened #1278 "[UX] Show cost on `sky down`"
One of the sky camp attendee mentioned they were expecting to see a dollar estimate of how much you spent on the cluster on running `sky down`. Could also show it in `sky status` (est. cost of clusters till now).

I think this would be a nice UX feature to have. Of course, will have to think about how to handle stopped clusters and autostopped instances...

[2022-10-20 20:25] romilbhardwaj commented on #1255
Update for AWS - it appears ray reuses the same security group for all VMs provisioned by the autoscaler.

As a workaround, one can configure the ports needed on that security group once, and all future VMs will have that port open. I opened port 8888 and then I could access jupyter on all ips.

Worked for my usecase, but may not work for people who may need different ports on different clusters.

[2022-10-20 20:32] Michaelvll commented on #1255
Note: in our ray-up YAML file, we specified the security_group used for the cluster to be `sky-sg-<userhash>`, so any update to that security group will be applied to all launched VMs. We may be able to support the opening ports by automatically generating a new security group if the user specifies a port in the configuration.

[2022-10-20 20:44] Michaelvll commented on #1273
I have seen these errors before sometimes during the smoke tests. Can we have a reproducible snippet for it?

[2022-10-20 20:55] Michaelvll commented on #1266
Since we currently do not support uploading multiple files to a SkyPilot Storage, we have to hard link the files into a single folder and upload the folder to the bucket. It works fine when the files are on the same devices, but the error here shows that it will fail for having multiple devices.

A temporary solution is to copy the files when the hardlink fails. However, a better solution is to su

[2022-10-20 21:37] Michaelvll opened #1280 "[Storage] Leakage of storage with persistent=False"
Our storage is not linked with the cluster or task, so when the job finishes or the cluster is terminated, the storage will not be deleted even if the `persistent=False` is set.

[code]

[code]

This should be also related to #1203, as we need to store the storage information in the clusters' metadata.
Also, the `autodown` may also cause leakage for the storage, even after we add the info to the m

[2022-10-20 21:37] Michaelvll commented on #1225
Related to #1280

[2022-10-20 21:41] Michaelvll commented on #1132
This problem should have been mitigated by #1150. I am closing it for now, but feel free to re-open this issue if the problem occurs again.

[2022-10-20 21:41] #1132 closed

[2022-10-21 00:44] ewzeng commented on #1210
Since this is a blocker for local mode, I would be happy to implement this. Are people okay with the `IP:PORT` format?

[2022-10-21 03:41] infwinston opened #1281 "Mounted storage failed when downloading tensorflow dataset"
I wanted to use mounted storage with an S3 bucket to hold data from `tensorflow-dataset` for my spot jobs. But I met some `Too many open files` error during `tfds.load('cifar10')`.
I'm not sure whether it's a goofys limitation or some incorrect configurations?
[code]

[2022-10-21 03:44] concretevitamin commented on #1281
Is this part of running a managed spot TPU job?  cc @romilbhardwaj

[2022-10-21 03:47] infwinston commented on #1281
Yes, I'd like the data to be downloaded only once for future Spot VMs to re-use. However I met this issue during data download.

[2022-10-21 04:00] concretevitamin commented on #1206
Some ideas to get public/private IPs:
- See if clouds' CLIs provide such a tool. Maybe https://docs.aws.amazon.com/cli/latest/reference/ec2/describe-addresses.html?
- Log in to each node and run `hostname -I`

[2022-10-21 04:13] michaelzhiluo commented on #1210
SGTM!

[2022-10-21 06:21] Michaelvll commented on #1206
Another way to get internal ips with our current `get_node_ips` is to creating a temporary cluster yaml from the existing one, by adding `use_internal_ips: true` under the `provider` section. ([reference](https://github.com/ray-project/ray/blob/94f4548c373ef370f693d19945793d764c39f034/python/ray/autoscaler/_private/commands.py#L1330-L1333))

That is to say, we can use the following `ray_config`, c

[2022-10-21 06:40] Michaelvll opened #1282 "[UX] Launching on an existing cluster sets the state to INIT causing confusion"
One of our users is confused by the status of `sky launch -c existing_cluster` being INIT. It is confusing why the cluster will be re-initialized again and whether it creates another cluster. It would be good to clarify that. Here are 2 options:
1. Change the INIT state to SETUP, which will be easier to understand. (we can keep the internal status, but distinguish the display for launch a new clus

[2022-10-21 07:50] infwinston opened #1283 "Potential bug for spot controller: ValueError: Invalid zone ''"
Not sure why but sometimes `sky spot launch` returned a weird `ValueError: Invalid zone ''` error. and I had to `sky down --purge` the controller to fix it. Needs more investigation.

[code]

[2022-10-21 09:49] romilbhardwaj commented on #1281
thanks for sharing the logs @infwinston! can you also share the yaml so I can reproduce this?

[2022-10-21 10:58] romilbhardwaj commented on #1280
Ahh this makes a lot of sense - our `storage.persistent` check happens only here (if `down` is set):

https://github.com/skypilot-org/skypilot/blob/2aad67a5f9626d1d78b35a7c5221941e48a03431/sky/execution.py#L251-L254

This should also happen when the cluster is downed with `sky down` or autostop.

This may require registering Task's storage objects with the cluster ResourceHandle and then deleting

[2022-10-21 15:37] concretevitamin commented on #1283
Is there any stacktrace?

May also check the generated controller ray yaml. Wondering if it's related to a recent back compat change.  Note that the log above shows the controller was in INIT status.

[2022-10-21 15:41] concretevitamin commented on #1282
cc @gilv: would you say "It is confusing why the cluster will be re-initialized again and whether it creates another cluster." is accurate? Which option of the two proposed by @Michaelvll sounds better to you?

[2022-10-21 18:18] infwinston commented on #1283
Weirdly there's no stacktrace. I tried again and checked the generated controller ray yaml. it seems normal.

[code]

I should have mentioned that there was another error before this (stacktrace below).
I thought it's a network error and re-run but `Invalid zone` error then popped up. I think they might be related.

This was run on a RISE server. I met this issue twice so it may not be just transi

[2022-10-21 18:23] concretevitamin commented on #1283
I meant the generated yaml under ~/.sky/generated/..., that gets used by Ray. Does that look normal too?

[2022-10-21 18:28] infwinston commented on #1283
Oh that also looks normal to me. plus I don't think ray up would output `Invalid zone` right. it should be coming from skypilot.
[code]

[2022-10-21 18:40] infwinston commented on #1281
Yes I prepare a minimal example to reproduce it. Hope it helps!
COPY mode should work but it will require an additional step to first manually prepare the dataset to a bucket. I guess MOUNT mode would be the most ideal if it works.

[code]

[2022-10-21 18:43] michaelzhiluo commented on #1273
@Michaelvll  `sky launch -c hello --cloud azure [ANYTHING]` ; applies for all Azure clusters

[2022-10-21 18:46] Michaelvll commented on #1281
Do we need to set the target path in the `tfds.load()` to the mounted storage?

[2022-10-21 18:47] infwinston commented on #849
This issue happened to me four times last night for my spot jobs. I think we should fix this. I'm testing whether my earlier https://github.com/skypilot-org/skypilot/pull/851 works.
I think it's also related to what @concretevitamin described here https://github.com/skypilot-org/skypilot/pull/1150#discussion_r963180524

[2022-10-21 18:48] infwinston commented on #1281
By default it'd use env variable `TFDS_DATA_DIR` which I set in the `SETUP` section.

[2022-10-21 18:50] Michaelvll commented on #1282
I feel like the second one should be done ultimately, but to mitigate the problem, we can do the first one as the first step. Wdyt?

[2022-10-21 19:23] Michaelvll commented on #1273
I can confirm that the following commands will reproduce the problem
[code]

The logs of the task will be shown correctly, but before the logs is shown, there is the error shown above.

[2022-10-21 19:30] Michaelvll commented on #1283
Could you log into the spot controller and get `~/.sky/spot_tasks/sky-30e4-weichiang.yaml` file? I am thinking probably, the file has `zone: ''` in it.

[2022-10-21 20:58] #1262 closed

[2022-10-21 23:51] Michaelvll commented on #1273
This is output by the ray autoscaler, who failed to access the credential file on the remote VM. The problem is tracked in the Azure-cli issue https://github.com/Azure/azure-cli/issues/20404.

It should not affect the single node behavior, as we will not access any other resources that need the crediential, but when it comes to multiple nodes. A workaround for this is to patch the Azure-cli file b

[2022-10-22 08:34] Michaelvll opened #1289 "[custom image] pip install fail in some custom image"
During the onboarding of a user, we found this issue. Installing ray/skypilot with the default pip3 can fail in some custom images due to the `permission denied` for writing to the default python package location. Adding `--user` in the ray yaml config to every `pip3 install` fixes her issue.

We need to re-consider where we install the dependencies of skypilot on the remote VM.

[2022-10-22 15:45] concretevitamin commented on #1289
Have we investigated always using `--user`?

[2022-10-22 23:14] #1273 closed

[2022-10-23 01:39] michaelzhiluo commented on #1280
For now, why not just move `backend.teardown_ephmeral_storage` outside of the `Stage.DOWN` if statement?

`persistent` is only supposed to last as long as the task is run (as stated in docs and has nothing to do with `sky down` or `sky autodown`, it will be deleted before downing even happens due to lock file). This PR #1292 decouples storage logic from compute logic.

[2022-10-23 02:58] michaelzhiluo commented on #1277
What is the final decision regarding this? I saw that `sky spot queue` and `sky queue` is the best option.

[2022-10-23 03:29] concretevitamin commented on #1277
Yes, according to the vote we should rename `spot status` to `spot queue`
everywhere.

On Sat, Oct 22, 2022 at 7:58 PM Michael Luo ***@***.***>
wrote:

[2022-10-23 03:48] Michaelvll commented on #1280
Moving it out can also cause a problem, which is if the task's logging is detached (e.g. with ctrl-c), the sky process on the local laptop will delete the bucket immediately even though the task is not finished.

[2022-10-23 15:59] michaelzhiluo commented on #1280
In this case, there is an abstraction issue with Storage and filemounts being integrated in the lifecycle of a task in `execution.py::execute` method. If `backend.teardown_ephemeral_storage` should not be in `execution.py` but at the end of the run task, then `backend.sync_file_mounts` should also not be in `execution.py`, as it will be confusing for readers.

In addition, having the bucket delete

[2022-10-23 16:34] michaelzhiluo opened #1295 "Down Stage in `execution.py` is never called"
In the code here,
https://github.com/skypilot-org/skypilot/blob/deb089dabf46485793f35992ed33999dc64cd6b8/sky/execution.py#L251-L254

`backend.teardown` is never called since when `down=True`, `idle_minutes_to_autostop` is set to 1 here:

https://github.com/skypilot-org/skypilot/blob/deb089dabf46485793f35992ed33999dc64cd6b8/sky/execution.py#L165-L182

In that case what is the purpose of `stages.DOW

[2022-10-23 23:04] Michaelvll commented on #1289
cc. @infwinston

[2022-10-24 03:20] romilbhardwaj commented on #1281
Small update - I was able to replicate this issue. It works fine if I force `store: s3`, so this appears to be a gcsfuse issue. Investigating more

[2022-10-24 04:31] #1195 closed

[2022-10-24 04:31] #1277 closed

[2022-10-24 05:45] Michaelvll commented on #1295
Currently, it is only for other backends, since the `DOWN` stage does not make sense for the serverful `CloudVMRayBackend` design. Otherwise, when the logging is detached during the job is running, the cluster will be terminated immediately in the `DOWN` block.

[2022-10-24 08:29] romilbhardwaj commented on #1068
This is resolved by #1081 - closing this issue.

[2022-10-24 08:29] #1068 closed

[2022-10-24 21:32] michaelzhiluo commented on #1295
Ah ic, why would `LocalDockerBackend` need this? (I'm guessing we can remove `stage.DOWN` all together if it is not needed)

[2022-10-24 21:46] Michaelvll opened #1298 "[Onprem] workdir fail to be found in multinode case"
When `sky admin deploy` on two newly launched cluster, and `sky launch` on the worker node. The following issue appears during the execution
[code]
[notes](https://docs.google.com/document/d/11yBU42ko8ujCmEOvAXS-PJtnupIwUDHzMXlesp-9gAE/edit?usp=sharing)

[2022-10-24 21:48] Michaelvll opened #1299 "[Onprem] Automatically detect port issues when deploying"
During the `sky admin deploy`, it is possible for the process stuck forever at the `Waiting for workers` due to the port on the worker node not open. We need to:
1. set a timeout for the step
2. automatically detect the problem
3. add the instructions in the docs for opening ports (probably also detailed instruction for opening ports on the clouds)

[2022-10-24 22:16] michaelzhiluo commented on #1298
Thanks for finding bug! On it...

[2022-10-24 22:18] michaelzhiluo opened #1300 "[Onprem] Supporting a Wider Range of GPUs"
The GPUs reported by onprem users include 1080, 2080, A5000/6000, etc. We need to ensure that job submission can support these types of GPUs.

[2022-10-25 05:55] infwinston commented on #1289
I think `--user` is better than without it. Though it's not guaranteed to solve potential dependency issue if user installed some packages with `--user` that conflict with `skypilot`.

btw, is this issue the same as https://github.com/skypilot-org/skypilot/issues/1234?

[2022-10-25 17:47] ewzeng commented on #1210
I'm running into the issue where `ray up` will hang if I run ssh services behind a port that is not 22. I suspect this is because `ray up` uses port 22 to ssh into cluster nodes. If this is the case and ray does not provide any option to change this, then it might be difficult to implement this feature.

Any thoughts?

[2022-10-25 20:34] #849 closed

[2022-10-25 22:46] michaelzhiluo opened #1304 "[Feature Request] Adding text color to `sky logs ...`"
There are some run commands that have color. It'd be nice to see the color as it is streamed to the user.

For example,
`color.yaml`
[code]
I'd like to have the `tail_logs` show the color that sky launch usually has when run locally on laptop.

[2022-10-25 22:50] #1281 closed

[2022-10-25 22:52] romilbhardwaj commented on #1154
Continuing discussion from #1296.

From @concretevitamin

I'm currently looking into the performance implications of `--implicit-dirs`, will update this issue with findings.

[2022-10-26 23:02] Michaelvll opened #1305 "[dependencies] user's ray program missing dependencies"
When launching a ray program with skypilot, even if the user created a new conda environment with the same python and ray version, dependencies in that conda environment will not be found for the remote functions, since the program connects to the ray cluster automatically which only contains the dependencies from the base environment.

[code]

[2022-10-27 00:41] lhqing opened #1306 "sky autostop doesn't happen"
Hi Skyteam,

**Problem**
I am trying to use the `sky autostop` feature on a VM running `jupyter lab`. As suggested by @Michaelvll , I used this command to run jupyter in background
`nohup jupyter-lab --LabApp.token='' --no-browser --port 8898 > ~/jupyter.log 2>&1 &`
But the sky VM did not autostop

**sky YAML**
[code]

**Logs**

- **Launch VM**
[code]

- **Set autostop "test" cluster**
[code]

- *

[2022-10-27 00:45] lhqing commented on #1306
There is error info in skylet.log
[skylet.log](https://github.com/skypilot-org/skypilot/files/9874749/skylet.log)

[2022-10-27 00:46] lhqing commented on #1306
[code]

[2022-10-27 00:47] lhqing commented on #1306
[code]

[2022-10-27 00:58] Michaelvll commented on #1306
After discussing offline, we figured out that the problem is that, the `ray up` directly upload the soft link for the private key to the remote cluster, instead of uploading the contents. That causes the autostop to fail to `ray up` again with the `~/ray_bootstrap_key.pem` on the VM.

It is worth trying to use hard link for the `sky-key` instead of the soft link on the local laptop. In that way, t

[2022-10-27 01:27] lhqing commented on #1306
@Michaelvll Thanks! I can confirm the autostop works once I fix the `sky-key` issue. Feel free to close this issue.

[2022-10-27 03:20] michaelzhiluo opened #1307 "[Feature Request] Logs of Setup"
It'd be nice to be `setup.log` in `~/sky_logs/timestamp/...`. In that case, I can happily debug environment from past iterations of debugging.

Edit: It is actually a bug instead.

[2022-10-27 03:25] concretevitamin commented on #1283
Should this be closed now that #1287 is merged? @infwinston

[2022-10-27 03:31] Michaelvll commented on #1306
Nice! Thanks for filing the issue and testing it out @lhqing! We should probably have a note for it in the doc, when we are going to officially support sharing the states in `~/.sky/` across multiple machines. Closing this for now. ; )

[2022-10-27 03:31] #1306 closed

[2022-10-27 03:42] infwinston commented on #1283
Yes not sure why it's not automatically closed.

[2022-10-27 03:42] #1283 closed

[2022-10-27 07:32] michaelzhiluo opened #1309 "[Onprem] `sky cancel [JOB_ID]` is broken"
Sky cancel no longer fully cancels the job (it still runs post cancelation). This is most likely to do with switching the Ray to be launched by admin instead of root.

[2022-10-27 09:04] michaelzhiluo opened #1310 "[Job] `backend.get_job_status` Error"
Calling  `job_status = backend.get_job_status(handle, job_ids=[job_id], stream_logs=False)` repeatedly gives a cryptic non-deterministic bug:
[code]

[2022-10-27 16:27] concretevitamin commented on #1309
Side note -- Can we check why that PR didn't trigger a test that catches this issue?  Was it because there's no test on the cancel behavior?

[2022-10-27 16:56] romilbhardwaj commented on #1154
I did some simple performance measurements with and without `--implicit-dirs`. See benchmark numbers at the end.

* I don't see a significant performance difference with `--implicit-dirs` on or off.
* It is hard to measure the cost implications, but I expect them to be [small](https://cloud.google.com/storage/pricing#operations-by-class).
* There exists an [alternative solution](https://github.com

[2022-10-27 17:18] #1154 closed

[2022-10-27 19:07] michaelzhiluo commented on #1309
There is a test, but it is a smoke test...

[2022-10-27 19:08] michaelzhiluo commented on #1310
This is all ran within 1 Sky launch! (I am calling this method multiple times to poll for cluster status)

[2022-10-27 19:18] concretevitamin commented on #1309
That's ok. Let's institute the policy that on-prem smoke tests should be run for on-prem changes that may change behavior (just like we've been running regular smoke tests for core system changes).

[2022-10-27 23:31] romilbhardwaj opened #1313 "[Storage] Zombie entries in `sky storage ls` when deleted externally"
Currently storage objects can be deleted by the spot controller. This results in zombie entries in the `sky storage ls` on the user's laptop. We need way to refresh the local state or maybe show only persistent entries.

[2022-10-28 00:47] ewzeng commented on #1232
I'll be happy to look into this!

[2022-10-28 00:52] romilbhardwaj commented on #795
Duplicated in #1313 and #1280, closing.

[2022-10-28 09:18] pschafhalter opened #1314 "[Storage] Unexpected behavior when adding a file mount with a relative path"
Hi,

I'm trying to mount an S3 bucket within my workdir. I used the following config, expecting `./data` to be a location within my workdir; however, it mounts to `~/data`. This is inconsistent with the behavior in `setup` and `run`, where `.` points to the workdir.
[code]
My current workaround is to mount the bucket in the workdir explicitly; however, it would be nice to use relative paths for fi

[2022-10-28 12:00] romilbhardwaj commented on #1314
Thanks for reporting this bug! I'll investigate and push a fix.

[2022-10-28 13:02] romilbhardwaj commented on #1314
Thinking more about this - if we change `.` to point to workdir for `file_mounts`, we run the small risk of the file_mount overwriting contents of the workdir OR workdir sync (e.g., with `sky exec`) overwriting `file_mounts`. While this can happen today too if any file_mount writes in `~/sky_workdir/`, but having `.` would make it easier for users to shoot themselves in the foot.

However, as pete

[2022-10-28 16:03] concretevitamin commented on #1314
Thanks for the report @pschafhalter !

@romilbhardwaj This analysis makes sense to me.

[2022-10-28 21:27] pschafhalter opened #1319 "[Storage] Error when launching another task with the same file mount"
Hi,

I'm repeatedly launching jobs on the same machine that use the same S3 mount point. On subsequent invocations, I run into an error when re-mounting:
[code]
And here is the output of `storage_mounts.log`:
[code]

I think this could be resolved by detecting whether the mount points are identical and keeping the file mount alive between jobs rather than unmounting and re-mounting.

[2022-10-28 21:38] ewzeng commented on #1232
Contrary to what [servicenow](https://berkeley.service-now.com/kb_view.do?sysparm_article=KB0010499) says, CalVisitor does block port 22. You can see this by going on CalVisitor and running the follow commands:
[code]

[2022-10-28 23:04] #1314 closed

[2022-10-28 23:46] romilbhardwaj commented on #1319
Thanks for the report @pschafhalter!

I am successfully able to replicate this issue with this minimal YAML:
[code]

First sky launch is successful, but the second one fails because the unmounting fails (and the mounting script incorrectly continues). Will fix this.

Also (you might know this already) you can use `sky exec <cluster_name> <task.yaml>` to submit jobs to the cluster without re-execut

[2022-10-28 23:59] #1267 closed

[2022-10-29 04:12] #1319 closed

[2022-10-29 04:13] romilbhardwaj commented on #1319
@pschafhalter this should be fixed with #1320. Feel free to update your local branch and give it a go

[2022-10-29 05:52] Michaelvll commented on #1232
Great findings @ewzeng! Thank you for investigating the problem. Do you add a network check in the following function to reduce the friction caused by the hanging?
https://github.com/skypilot-org/skypilot/blob/f49ed5aed4d180c18d7feddcb2733c61d9170441/sky/backends/backend_utils.py#L1342-L1343

[2022-10-29 06:09] ewzeng commented on #1232
Yes @Michaelvll! I was planning to :)

[2022-10-29 07:37] Michaelvll opened #1321 "[Dependency] dependency issue with `awscli` when ray==2.0.1 used locally"
The issue was initially reported by @infwinston in https://github.com/skypilot-org/skypilot/pull/1133#issuecomment-1291210395

After upgrading ray to `2.0.1` locally (`pip install "ray[default]==2.0.1"`), some of the skypilot commands fail due to dependency issues:
[code]

[2022-10-29 07:54] Michaelvll opened #1322 "[Storage] Confusing logging in `sky storage delete`"
When I am trying to delete a storage object with `sky storage delete skypilot-filemounts-*`, the logging is quite confusing showing the bucket is detected, then the bucket is created, and finally the bucket is deleted.
[code]

Probably, it is because the bucket has been deleted on the cloud console, but it is still in my storage table. Seems we will create a `sky.Storage` object (the creation will

[2022-10-29 08:38] Michaelvll commented on #1168
This should be fixed by #1180, by restoring the credentials from the backup. Closing for now.

[2022-10-29 08:38] #1168 closed

[2022-10-29 10:02] Michaelvll commented on #1039
This has not been observed for a long time. Closing it for now.

[2022-10-29 10:02] #1039 closed

[2022-10-29 10:10] Michaelvll commented on #1307
The `setup-{ip}.log` should appear in the `~/sky_logs/timestamp/...`.

https://github.com/skypilot-org/skypilot/blob/f49ed5aed4d180c18d7feddcb2733c61d9170441/sky/backends/cloud_vm_ray_backend.py#L1982-L1986

Just tested with the following yaml, and the `setup-ip.log` correctly shows up.
[code]

[2022-10-29 15:14] infwinston commented on #1321
Thanks for the fix!

[2022-10-29 18:57] Michaelvll opened #1327 "[Smoke tests] Cuda error for training"
Our smoke tests with `Pytorch` fails (`test_cancel_pytorch` and `test_huggingface`, due to the following cuda issue:
[code]
[code]

On the cluster, importing the `pytorch` will fail:
[code]

[2022-10-29 19:05] Michaelvll opened #1328 "[Spot] `NoneType` for handle when tailing the logs for the spot job"
@pounde reported an issue with the main branch, where the following issue occurs:
[code]

[2022-10-30 00:31] Michaelvll opened #1331 "[Interactive node] Fail to launch a INIT gpunode"
I have an INIT azure cluster with V100 launched with `sky gpunode --gpus V100 --cloud azure` and ctrl-c during launching. When I tried to relaunch it with `sky gpunode`, there is a resource mismatch error.
[code]

[2022-10-30 03:42] romilbhardwaj commented on #1160
I was trying out seaweedfs and s3fs today:

## SeaweedFS
Seaweed's [cloud drive mounting](https://github.com/seaweedfs/seaweedfs/wiki/Cloud-Drive-Architecture) seems to be what we're looking for. However, I couldn't make much progress due to a lack of clear documentation on how to use seaweed for mounting existing s3 buckets.

The instructions on [this](https://github.com/seaweedfs/seaweedfs/wiki/

[2022-10-30 04:41] chrislusf commented on #1160
@romilbhardwaj you may want to run `weed server -s3` to start the master, volume server, filer, and s3 APIs at the same time. And then you can run `weed mount -dir=/to/be/mounted` to read and write the files. To sync with existing S3 buckets, follow https://github.com/seaweedfs/seaweedfs/wiki/Mount-Remote-Storage

[2022-10-30 04:50] Michaelvll opened #1332 "[Azure] Launching the azure cluster can cause nondeterministic error"
`sky launch -y -c launch-azure examples/azure_start_stop.yaml` sometimes getting the following issue:
[code]

@suquark Do you think this is a bug in our `node_provider`?

I tried to get the `resources_group` with the code in `self.provider.is_terminated(self.node_id)` above to get an existing `resource_group` but it fails. However, `az vm list --resource-group test-azure-start-stop-3446f302-c9-eas

[2022-10-30 05:22] #950 closed

[2022-10-30 06:08] Michaelvll opened #1333 "[Docs] Add instruction for installing common ML framework"
We need to notify the user about the cuda version supported in our default image used for different clouds, e.g. we do not support pytorch compiled with cuda 11.7.

[2022-10-30 06:42] romilbhardwaj commented on #1160
Thanks @chrislusf! The suggestion worked. I'm able to get seaweedfs running with s3 mounted. It was a little confusing to setup and took some trial and error to figure out, but it works now.

A few questions:
1. Does seaweedfs provide caching for reads from S3? If so, what's the caching policy and can we bound the cache to a size we choose?
2. I notice a separate process needs to be run to update

[2022-10-30 06:47] #1169 closed

[2022-10-30 06:57] Michaelvll commented on #1332
Just identified the issue, I was launching the azure cluster from an AWS ec2 VM, where there are some empty Azure credential services set up by default. We can limit the credential used by the `node_provider` to be only `AzureCliCredential` instead of a chain of different kind of credentials (fixed in #1330)

[2022-10-30 07:03] chrislusf commented on #1160
For your case, the seaweedfs cluster is the cache. The data is asynchronously replicated back to S3 via the `weed filer.remote.sync` process. You can also "uncache" some data via a "weed shell" command periodically to purge some data by time or by size.

The `weed filer.remote.sync` is designed to work continuously. So there is no clearly way to tell the data has finished replicating, although the

[2022-10-30 07:29] romilbhardwaj commented on #1160
This is good to know, thanks!

I see, writes are cached by the seaweedfs  cluster.

I was curious if reads are also cached. E.g., when I read a file, I assume it is fetched from S3. If I open the file again, will it be fetched from S3 again or does seaweedfs cache it? If it caches, is there some way to limit the size of the cache?

Appreciate your prompt help!

[2022-10-30 07:36] chrislusf commented on #1160
Reading from remote S3 is also cached. Need to "uncache" via commands the same way.

If size is a concern, you may want to start a volume server, by running "weed volume -dir=... -master=<ip>:<port>" on a different server.

[2022-10-30 07:42] romilbhardwaj commented on #1160
Awesome, thanks for all the answers @chrislusf! I'll try it out and see if it fits our use case.

[2022-10-30 23:26] #1321 closed

[2022-10-31 03:22] Michaelvll opened #1334 "[UX] An evironment variable indicating the number of GPUs scheduled for the task"
A pilot user requests a variable that indicates the number of GPUs scheduled for the task. It can be a variable called `SKY_NUM_GPUS_PER_NODE`.

[2022-10-31 03:26] Michaelvll opened #1335 "[UX] access aws credentials on the remote VM as root"
A quote from a pilot user: "need to run a script that calls aws internally and then need to write to a path that requires sudo permission, and I’m trying to call the script with sudo"

We need to find a way to let the `sudo aws configure list` be able to access the credential file under `/home/ubuntu/.aws` as well.

[2022-10-31 03:27] michaelzhiluo opened #1336 "[Feature Request] Export `SKY_NODE_IPS` and `SKY_NODE_RANK` outside of `run`"
These two environment variables mentioned above are only accessible in the `run` function - when the Ray job is executed. This conflicts with distributed training, where these variables are needed in the setup step of the task. Hence, it is a good feature to have these environment variables earlier in stages of a Task.

[2022-10-31 04:02] iojw commented on #1336
@michaelzhiluo Do you have a specific example of how the `SKY_NODE_RANK` variable will be used in the setup step?

I believe that we can make the `SKY_NODE_IPS` and `SKY_NODE_RANK` variables available in the setup step by moving the logic implemented in #1291 to the setup step, but the issue with this is that the `SKY_NODE_RANK` variable for a particular node may differ in the setup and run step.

[2022-10-31 04:58] michaelzhiluo commented on #1336
@iojw This git issue was raised in reponse to a user request to have `SKY_NODE_RANK` and `SKY_NODE_IPS` available to the machine when you SSH into it.

This is definitely a design question whether`SKY_NODE_RANK` should be tied to the cluster or the task. We should have an offline discussion about this, but I think we should have two separate environment variables for 1) cluster (`SKY_NODE_RANK`) a

[2022-10-31 09:48] michaelzhiluo commented on #1307
Should be a bug then @Michaelvll I dont see it after setting up resnet environment.
<img width="853" alt="Screen Shot 2022-10-31 at 2 48 17 AM" src="https://user-images.githubusercontent.com/20640975/198979861-e0c905b4-68de-4e65-b284-dba9cba8adda.png">

[2022-10-31 10:50] romilbhardwaj commented on #1322
I believe this is closed by #1323.

New output:
[code]

[2022-10-31 10:52] romilbhardwaj commented on #1226
Duplicated in #1070, and likely will be closed with #1311.

[2022-10-31 10:52] #1226 closed

[2022-10-31 10:57] romilbhardwaj commented on #786
Duplicate of #856, closed with #881.

[2022-10-31 10:57] #786 closed

[2022-10-31 14:48] concretevitamin opened #1338 "docs: Document how to ssh into workers"
From a user:

We should document clearly: `ssh cluster-name-worker1` (changing the number for different workers) to log into the workers.

[2022-10-31 14:49] concretevitamin opened #1339 "docs: Document mult-node cluster setup semantics"
From a user

We can document this in the Distributed Jobs page.

[2022-10-31 14:51] concretevitamin commented on #1336
I do not think the user wanted the variables in setup, or other stages. He wanted the env vars when he SSH'd into the machine, like you mentioned:

[2022-10-31 14:54] concretevitamin opened #1340 "docs: Document how to run a command only on head node"
From user:

We should add a section about this in Distributed Jobs doc page.

[2022-10-31 15:00] concretevitamin opened #1341 "`unattended-upgrade` process upon starting VM made `launch` get stuck"
User reported:

Specifically it got stuck after
[code]
After I force-killed the unattended upgrades process and removed lock files it then proceeded to
[code]

----

cc @michaelzhiluo is this related to apt locks?

[2022-10-31 15:12] concretevitamin commented on #1322
@romilbhardwaj On latest master  7602b254f2aa6d8a0 I see

[code]

[2022-10-31 15:15] romilbhardwaj commented on #1322
Ah my bad, I realize this is related to buckets deleted externally.

[2022-10-31 17:44] Michaelvll opened #1342 "[spot] `sky spot logs` for non-existing job should fail immediately"
As observed by @concretevitamin, tailing the log for a non-existing spot job will generate confusing logs. We may want to fail the tailing immediately instead.
https://github.com/skypilot-org/skypilot/pull/1329#pullrequestreview-1162063122

[2022-10-31 17:51] #1328 closed

[2022-10-31 18:05] Michaelvll commented on #1307
The logs should be on your local machine, not on the remote VM.

[2022-10-31 19:51] #1334 closed

[2022-10-31 22:03] concretevitamin opened #1343 "UX/docs: add output prefix to multi-node setup logs"
From user:

Action items to address this:
- [ ] We do this for `run` commands, but not yet for `setup` commands.
- [ ] in Distributed Jobs doc page, document the following:
[code]

-----

Simple repro:
[code]

[2022-10-31 22:04] concretevitamin opened #1344 "Support more AWS regions for better spot availability"
From user

[2022-10-31 22:09] concretevitamin opened #1345 "Support passing multiple `image_id`, one per region"
From user, whose app requires a specific Ubuntu 18.04 version, and does not support the latest 20.04 we use:

Previously, @pounde also requested this feature.

-----

Proposal:
[code]
where SkyPilot will restrict itself to provision in these regions only.

[2022-10-31 22:11] concretevitamin opened #1346 "Support auto-selecting `image_id` by OS version"
From user, whose app requires a specific Ubuntu 18.04 version, and does not support the latest 20.04 we use:

I’m trying to debug if some cryptic MPI errors is due to incompatibility between the ubuntu version (18.04) of singularity image (similar to docker) and the host ubuntu (20.04).

This is related to #1345, but different.

-------

Sketching a potential interface, while many are possible:
[c

[2022-10-31 22:40] pounde opened #1348 "Change sky.resources __repr__ to better signify the resources requested"
Currently sky.Resources __repr__ just returns accelerators. Additional arguments such as disk_size are not represented. Suggest modifying that to make debugging easier.

[2022-10-31 23:20] #1327 closed

[2022-10-31 23:20] #1332 closed

[2022-11-01 00:02] romilbhardwaj opened #1349 "[Tests] Add autodown to smoke tests?"
Sometimes I run smoke tests and check back a few hours later to see if all passed. During this time, its possible some tests failed and left the VM running.

Should we add an auto-down to all smoke test clusters? We could set the autodown interval to 1-2hr to give enough time for the developer ssh if required.

[2022-11-01 04:26] michaelzhiluo commented on #1336
[code]

If the variables are in the SSH'd machine, it will naturally appear in `setup`. This is a very reasonable extension due to distributed training setup, when you want to automatically export environment variables for Tensorflow distributed training, for example.

[code]

I'm pushing this forward. It is clear that a lot of future users will experience the same issue. @concretevitamin

[2022-11-01 04:51] michaelzhiluo commented on #1307
Was this originally intended to have different `local` and `remote` log directories? It was surprising that the directory contents on my laptop does not match remote and I would have never known otherwise.

Suggested fixes:
1) Match `setup.log` for both remote and local.
2) Have documentation that `setup.log` is only on local, etc.

[2022-11-01 07:29] zhuohan123 opened #1354 "[Feature Request] Support advanced AWS feature"
Current skypilot does not support advanced aws options like specifying security groups and placement groups, which is supported by ray autoscaler and boto3. These options are critical to our experiments. For example, the placement group can make sure the instances have high inter-connection speed.

cc @Michaelvll

[2022-11-01 07:40] romilbhardwaj commented on #1354
Related feature request: #1255

[2022-11-01 08:47] Michaelvll commented on #1344
Related to #589.

[2022-11-01 09:17] michaelzhiluo opened #1355 "[Onprem] Ray up Error"
Ray up the generated YAML file for Sky Onprem has the following error in the logs. After some deeper investigation, it seems to be caused by this PR here: https://github.com/skypilot-org/skypilot/commit/1407509f48baaf154e62297e734cbc3f571a83e0 This is because the generated Ray YAML file is populated with the incorrect filemounts.

Logs:
[code]

[2022-11-01 15:02] #1205 closed

[2022-11-01 19:20] michaelzhiluo opened #1357 "[Job] `sky cancel` for jobs waiting in placement group"
When a job is queued up (as shown in Ray status), `sky cancel` does not seem to remove the queued up job.

[2022-11-01 20:02] Michaelvll commented on #1341
This should have been fixed in #1347. Closing for now.

[2022-11-01 20:02] #1341 closed

[2022-11-01 20:26] concretevitamin opened #1359 "docs: Document `SKYPILOT_RUN_ID` example values"
From pilot user:

[2022-11-01 20:27] concretevitamin opened #1360 "Way to run setup code again but skip the skypilot runtime provisioning?"
User asked:

A proposal from @Michaelvll: `sky launch --no-provision -c cluster-name task.yaml`

[2022-11-01 20:28] concretevitamin opened #1361 "Specify multiple allowed accelerators"
User asked:

Proposal:
[code]
with the semantics of “use any of them, whichever is cheapest / available first”?

[2022-11-02 04:24] michaelzhiluo commented on #1361
This seems very connected to `sky bench` and the idea of Sky racing. Tagging @WoosukKwon

[2022-11-02 04:32] michaelzhiluo commented on #1360
Missing the context here, why do we need to provision again after `sky launch` is run the first time? We would just need to load the `ResourceHandle`?

[2022-11-02 04:57] Michaelvll commented on #1360
The main thing we want to do the `preparing the Skypilot runtime` again, to make sure the remote SkyPilot is the same as the local one, i.e. uploading the wheel again and installing it.
Previously, it was also for making sure the ray cluster is correctly running on the cluster, if not restart the ray cluster, but now we can use `backend_utils.refresh_cluster_status` to ensure that.

[2022-11-02 05:04] Michaelvll opened #1364 "[Tests] Add on-prem into smoke test to avoid accident breaking"
Raised by @michaelzhiluo that we have observed multiple accident breaking for the on-prem feature. We may want to have the on-prem in the smoke tests, so that it can make sure future PRs will not break it.

[2022-11-03 04:30] concretevitamin opened #1367 "Catalog v3 has some duplicate values in `gcp.csv`"
...causing `sky gpunode --gpus A100:8` GCP pricing to be slightly off.

[2022-11-03 14:47] concretevitamin opened #1369 "Debug UX: easily know SSH name or public IP from log outputs"
<img width="404" alt="Screen Shot 2022-11-02 at 11 27 21 PM" src="https://user-images.githubusercontent.com/592670/199752262-45879544-3072-4328-afee-98fd3af236b5.png">

User asked

It seems that sometimes it shows IP and sometimes it doesn’t, and these IPs are the private IPs rather than public ones.

----

Difficulty of logging into `node-0`:
- In general, `node-0` may not refer to the head node,

[2022-11-03 22:22] #1367 closed

[2022-11-03 22:45] Michaelvll opened #1370 "[Docs] The yaml-spec page is not runnable"
Raised during the on-boarding for Zhuohan, he tried to copy the yaml-spec page, but it is not directly runnable.

[2022-11-03 23:38] iojw commented on #1369
Yup, `node-0` is based on the `ip_list_str` array we create in `add_gang_scheduling_placement_group` and may not refer to the head node when `num_nodes` is smaller than the number of nodes in a cluster. However, when `num_nodes` is equal to the number of nodes in a cluster, `node-0` will always be the head node. Also, something to note is that for the logs where IP does not show, these belong to t

[2022-11-04 05:54] #1344 closed

[2022-11-04 05:54] #1346 closed

[2022-11-04 09:07] iojw commented on #1206
Closed by #1291.

[2022-11-04 09:07] #1206 closed

[2022-11-04 17:31] #1348 closed

[2022-11-04 20:00] Michaelvll opened #1372 "[Docs] Confusing for when will the file_mounts be uploaded"
From our user:

Seems we do not have a place saying `sky exec` will not upload the `file_mounts` in our doc. We need to explicitly clarify what every command will do, e.g. even in the [CLI doc](https://skypilot.readthedocs.io/en/latest/reference/cli.html#sky-exec), we only says `sky exec` will skip the setup.

[2022-11-04 20:02] Michaelvll opened #1373 "[Docs] No definition for terms (task / job / run)"
From our user:

These are similar words without a clear definition from the doc it seems…

[2022-11-04 20:33] concretevitamin commented on #730
@dementrock ran into this again:

[2022-11-04 21:41] michaelzhiluo opened #1374 "[Onprem] Automatically identify GPU-type on any onprem machine"
Currently, we manually list the types of GPUs to grep for to identify gpus on a machine. We need a way to automatically figure out the type of GPU.

[2022-11-04 22:54] Michaelvll opened #1375 "Add SKYPILOT_RUN_ID for the normal jobs"
From our user:

[2022-11-04 22:55] Michaelvll opened #1376 "[Docs] Add docs for the environment variables SkyPilot provides in one place"
Our environment variables are documented everywhere in the document, it would be good to have a centralized place as the `YAML specification`, `Command Line Interface`, etc.

The environments:
`SKYPILOT_RUN_ID` in https://skypilot.readthedocs.io/en/latest/examples/spot-jobs.html#an-end-to-end-example
`SKY_NUM_GPUS_PER_NODE`, `SKY_NODE_RANK`, `SKY_NODE_IPS`: in https://skypilot.readthedocs.io/en/la

[2022-11-05 07:18] Jeffwan commented on #1008
I notice kubernetes support is part of v0.3 release. I am one maintainer of kuberay and I would like to help and evaluate  whether that could be an option for skypilot k8s backend.

[2022-11-06 00:52] Michaelvll commented on #1354
@zhuohan123 has volunteered to support this. Please feel free to submit a PR. : )
In the `resources` field in the YAML file, we can have an option called something like `additional_options`:
[code]

To implement this, you may want to add another field to `sky.Resources` and the `from_yaml_config` method in it. To pass down the option to our ray up yaml, you can modify the function `sky.backends.ba

[2022-11-06 15:04] concretevitamin opened #1381 "UX: New machine that hasn't run `sky check` raises Local errors on first `sky launch`"
To repro:

1. Create a new VM manually in console
2. Run `pip install skypilot`
3. Run `sky launch`

This will show the following:
[code]

cc @michaelzhiluo

[2022-11-07 18:49] #1375 closed

[2022-11-07 22:19] #730 closed

[2022-11-07 23:08] Michaelvll opened #1383 "[UX] support more easily configure custom per-region AMI"
From our user:

Note: this is related to #1345, but more about generating the AMI automatically from an existing cluster and shipping it to different regions.

[2022-11-08 18:55] concretevitamin commented on #1359
Closed by #1377.

[2022-11-08 18:55] #1359 closed

[2022-11-08 18:55] Michaelvll commented on #1354
This is also required by another user for setting up VPC. Increasing the priority.

[2022-11-08 19:35] Michaelvll commented on #1345
The API for having a dict for `image_id` leaks the things each field can control. Previously, the region controls the regions to retry on, and the `image_id` specifies the image only. However, with the current specification, there are now two ways to limit the regions to failover through:
[code]
[code]
This makes the API not as clean, though I could not think of a better way to do it.

[2022-11-10 01:01] Kadle11 opened #1386 "Easy way to deploy using containers"
Hi!

I am interested in understanding how SkyPilot works and want to become comfortable using it on a local machine before using it on GCP/AWS. Is there an easy way to run Tasks locally using containers or something similar?

Thanks.

[2022-11-10 01:11] romilbhardwaj commented on #1386
Thanks for raising this issue @Kadle11! We're actively working on building a `local` mode for SkyPilot which would allow you to emulate a cluster in a container and submit tasks to it using the regular `sky` CLI. We'll get back to you on this very soon.

[2022-11-10 19:08] romilbhardwaj opened #1387 "[LocalDockerBackend] `sky status` does not work for LocalDockerBackend"
`sky launch -c myclus examples/minimal.yaml --docker` fails with:

[code]

[2022-11-10 19:37] romilbhardwaj opened #1388 "[Onprem] Unable to launch any task - No such file or directory: .../<clus>.yml.tmp"
I create a cluster with  the launch script
[code]

Then I try to run a simple echo task. Fails with `No such file or directory`:
[code]

Logs from the launch script, if it's helpful:
[code]

My `.sky/generated` dir:
[code]

[2022-11-10 20:01] infwinston commented on #1388
hmm I thought this PR solves it? or did we miss anything
https://github.com/skypilot-org/skypilot/pull/1356/files#diff-5d3b8c053073eef6241a9fc4439b8e97c680e73e6dbfe01a587eea2bf0000c4dR790

[2022-11-11 07:45] Michaelvll opened #1391 "[AMI] Specify the name for AMI to use across region"
From our user:

[2022-11-11 16:16] concretevitamin opened #1392 "docs: include managed spot in python API docs"
From user:

[2022-11-11 16:21] concretevitamin opened #1393 "docs: revamp Managed Spot docs to explain concepts better"
Two users have found the managed spot docs not clear enough.

User 1

User 2

----

We can try to clarify this “think of managed spot as a serverless job interface” concept at the top of the spot docs. Other explanations needed.

[2022-11-11 16:24] concretevitamin opened #1394 "Make `--all` default to true for `sky status` (looking for region info)?"
Users reported:

which suggests it's not clear `-a` will show this info.

Please vote on this if you feel region should be by default displayed, and/or hourly price.

[2022-11-11 18:39] romilbhardwaj opened #1395 "[Custom Image] Support CPU tags for `skypilot:` images?"
As a new user of the custom image tags (e.g., `skypilot:gpu-ubuntu-1804`) I was a little surprised to find CPU tags not supported. Docker images (e.g., [ray](https://hub.docker.com/r/rayproject/ray/tags), [tensorflow](https://hub.docker.com/r/tensorflow/tensorflow/tags), [pytorch](https://hub.docker.com/r/pytorch/pytorch/tags)) generally support this by either supporting an explicit `cpu` tagged i

[2022-11-11 19:21] romilbhardwaj commented on #1233
From @Michaelvll's comment on #1237:

[2022-11-11 20:16] romilbhardwaj commented on #1388
Ah my bad - I was on a stale branch. It indeed works after #1356.

[2022-11-11 20:16] #1388 closed

[2022-11-11 20:25] concretevitamin commented on #1393
Other pieces to clarify in this doc. From user:

[2022-11-11 22:03] Michaelvll opened #1397 "[Spot] Error in the setup will keep the spot cluster retrying forever"
From the user:

TODO:
- [ ] Stream the logs for setup to `sky spot logs` as well.
- [ ] Detect the failure of the setup and fail fast.

[2022-11-11 22:28] Michaelvll commented on #1045
This is raised by another user

As a user I probably prefer the latter.

[2022-11-11 23:19] #1381 closed

[2022-11-12 02:30] romilbhardwaj opened #1398 "[Storage] `Operation not supported` when `file.flush()` on mounted storage"
Bug report on slack from a user:

Likely related to goofy's partial posix compatibility.

[2022-11-12 04:27] Michaelvll opened #1399 "[Spot] The SKYPILOT_JOB_ID changes across restarts"
From our user:

During the initial run it was 2022-11-12-00-17-08-581710_test-managed-spot-6_id-1
After I killed the cluster and the spot controller restarted, it became sky-2022-11-12-02-51-24-649160_test-managed-spot-6_id-1

[2022-11-12 06:01] Michaelvll opened #1401 "[UX] Easier to find `SKYPILOT_JOB_ID`"
We should have a way to find the SKYPILOT_JOB_ID, such as in `sky spot queue -a` and `sky queue`

[2022-11-12 07:07] Michaelvll opened #1402 "[Setup] ssh agent forward not work with `--detach-setup`"
Since `--detach-setup` adds the setup script to the job, the ssh agent forwarding will not work during the setup. It will cause inconsistent behavior between normal setup and `--detach-setup`, e.g. fail to clone private github repo for `--detach-setup`

[2022-11-12 07:08] Michaelvll opened #1403 "[Setup] `--detach-setup` will have CUDA_VISIBLE_DEVICES set causing inconsistency"
From the user:

[2022-11-12 08:42] #1345 closed

[2022-11-12 16:36] concretevitamin commented on #1401
More context:

Q: Do you think having SKYPILOT_JOB_ID in the sky spot queue -a will be convenient for you?

----

Some concerns about exposing this env var in the two `queue` calls:

 https://github.com/skypilot-org/skypilot/pull/1400#pullrequestreview-1178139294

[2022-11-12 22:13] #1387 closed

[2022-11-12 22:57] Michaelvll commented on #1401
Here is a proposal reverted in the PR #1400, for further discussion.
Add `SKYPILOT_JOB_ID` to the `sky spot queue -a` to make it easier for the user to find.
[code]

[2022-11-12 23:23] #1403 closed

[2022-11-13 04:13] #1399 closed

[2022-11-13 06:51] michaelzhiluo commented on #1355
This issue is resolved.

[2022-11-13 06:51] #1355 closed

[2022-11-13 06:52] michaelzhiluo commented on #1307
@Michaelvll If there is detach setup, is this fixed?

[2022-11-13 08:35] Michaelvll commented on #910
This should have been fixed, as the `test_azure_start_stop` in smoke tests passed.

[2022-11-13 08:35] #910 closed

[2022-11-13 08:42] Michaelvll opened #1408 "[Azure] KeyError when launching Azure cluster"
The following error occurs occasionally. It seems to happen more often when `test_cancel_azure` and `test_azure_start_stop` run together.
[code]
@suquark Do you think there is a race condition around the following place? Should it be a file lock across multiple `ray up`?
https://github.com/skypilot-org/skypilot/blob/21009efc877327b5f6aa990745c453fb355de4c3/sky/skylet/providers/azure/node_provider.

[2022-11-13 12:29] lambda7xx opened #1409 "[docs] some questiones about the launch skypilot"
I setup my azure account. And I try to "bash tests/run_smoke_tests.sh test_minimal". And there is some error. So, if I want to contribute to this project, the first thing I do is to have aws/gcp/azure account? And these accounts should have some server? BTW, I don't see the local test about the skypilot project.

[2022-11-13 16:01] concretevitamin commented on #1409
Hi @lambda7xx, what's the error you saw for Azure? Can you paste a stacktrace?

Local tests are here: https://github.com/skypilot-org/skypilot/tree/master/tests

We definitely do not need every developer to have all cloud accounts. For small PRs, perhaps local unit tests can cover the functionality added/changed. Otherwise the dev team can help with running the smoke tests.

[2022-11-13 21:05] Michaelvll opened #1410 "[Spot] Controller not recover multi-node spot job when preempted"
When the worker node is preempted, the controller will not recover the cluster, if the job does not fail immediately with non-zero returncode after the number of nodes becomes less than expected.

[2022-11-13 23:09] #1410 closed

[2022-11-14 01:46] lambda7xx commented on #1409
the stacktrace is below
`
(skylab) saemal@az-eus-v100-32gb-5-worker-vnhhyp:/data/v-xxshi/skypilot$ bash tests/run_smoke_tests.sh test_minimal
bringing up nodes...
[minimal] Test started. Log: less /tmp/minimal-m7zq7s2j.log
[minimal] Failed.
[minimal] Reason: sky launch -y -c test-minimal-722fa80a-12 --image-id skypilot:gpu-ubuntu-1804 examples/minimal.yaml
[minimal] Log: less /tmp/minimal-m7zq7s2j

[2022-11-14 01:56] lambda7xx commented on #1409
The local test I mean is that I can run the test on my own machine without the cloud account. But I see some code that it seems that I have to test the code on the cloud. Besides, the cloud account must have money if I want to run the test code?  I am in China now and I do not have ways to put my money into the aws/gcp/azure cloud account.

[2022-11-14 06:18] Michaelvll commented on #1146
Our `sky spot cancel` does not interrupt the provisioning and setup of a spot cluster either:

[code]

[2022-11-14 06:45] Michaelvll opened #1413 "[Spot/UX] Color for different job status"
From our user:

[2022-11-14 18:18] SakshiT25 commented on #1278
Is this issue still open? @romilbhardwaj

[2022-11-14 23:07] jalajk24 commented on #1395
Can I work with this issue? I don't know a lot about how to proceed with this.

[2022-11-15 04:58] Michaelvll opened #1415 "[Docs] Add examples to each CLI command in CLI reference"
Many of our CLI commands have a long list of options and argument in the `CLI reference` page, but some of them, like `sky launch` or `sky spot launch` does not have any example use case. I personally find example usage in the API/CLI reference docs is the most useful part when I get in touch with a tool for the first time.

[2022-11-15 05:11] romilbhardwaj commented on #1395
Hi @jalajk24 - this issue will likely require updating the image fetcher functions for AWS to use the CPU Deep Learning AMI:
https://github.com/skypilot-org/skypilot/blob/master/sky/clouds/service_catalog/data_fetchers/fetch_aws.py#L218-L234

After this, we'll need to regenerate the catalogs and update our [catalog repo](https://github.com/skypilot-org/skypilot-catalog).

Admittedly this is a slig

[2022-11-15 11:03] lambda7xx commented on #1409
thanks for your help

[2022-11-15 14:30] jalajk24 commented on #1175
@romilbhardwaj i am interested in this issue can you assign it to me and plz drop some insight to start this issue as this will be my first project.

[2022-11-15 18:25] concretevitamin opened #1418 "Support pausing & resuming autostop"
From @dongreenberg: he'd like to have an API to temporarily pause autostop, due to some activity happening (e.g., running Jupyter) that is not captured in our job queue. After the activity finishes, he'd like the autostop setting to resume.

There's some workaround at the moment, but if this is officially supported he'd like to switch to these APIs.

[2022-11-15 19:54] romilbhardwaj commented on #1175
Hi @jalajk24 - you will likely need to intercept any errors raised by `yaml.safe_load(f)` [here](https://github.com/skypilot-org/skypilot/blob/master/sky/task.py#L231) and re-raise them as a ValueError under `ux_utils.print_exception_no_traceback()` ([example](https://github.com/skypilot-org/skypilot/blob/master/sky/task.py#L252-L255)). Please feel free to get started on this and submit a draft PR

[2022-11-16 06:02] jalajk24 commented on #1175
@romilbhardwaj how should i start and  approach to this issue?? can you plz guid as i am new to opensource and this will be my first PR??

[2022-11-16 22:50] michaelzhiluo opened #1423 "[Onprem] `sky admin deploy` fails to detect GPU"
Cluster has 1 node that has 1 2080 and 1 1080.

Running `lspci` shows only the `1080` GPU and hence it fails.

There needs to be a better way to detect GPU types, as @infwinston suggested in this [comment](https://github.com/skypilot-org/skypilot/pull/1356#discussion_r1010937720).

[2022-11-16 23:04] michaelzhiluo opened #1424 "[Onprem] Admin may not have passwordless `sudo`"
Currently Sky Onprem relies on the assumption that the admin can run `sudo` commands without a password.

As of the moment, there seems to be no way to circumvent around this due to how `ray job submit` works, unless a different backend (such as Kubernetes) is used.

[2022-11-17 01:23] Michaelvll commented on #1409
Thanks for the question @lambda7xx! Before going to the tests, you could probably first follow the instructions in our document to try to launch an instance on azure first. You can try `sky launch --cloud azure`.
https://skypilot.readthedocs.io/en/latest/getting-started/quickstart.html

[2022-11-17 02:29] Michaelvll opened #1425 "[AWS] Permission issues with DescribeKeyPairs"
We require `DescribeKeyPairs` permission in `auth. setup_aws_authentication()`, which is not checked in `sky check` and can fail the `sky launch` when not available.

[code]

TODO:
- [ ] Check if we can get around that permission.
- [ ] If not, add the checking in `sky check`.

[2022-11-17 19:12] Michaelvll commented on #1408
This happens much more often recently. Do we have any idea @suquark ? :)

[2022-11-17 23:20] Michaelvll commented on #1408
It seems the problem happens when the test tries to `sky start` the cluster is just stopped with `sky stop`.

[2022-11-18 21:17] romilbhardwaj opened #1431 "[Spot] Spot job fails when storage object is added"
YAML:
[code]

Sky spot launch fails with `FAILED_CONTROLLER`:
[code]

Looking at controller logs:
[code]

[2022-11-18 21:22] romilbhardwaj commented on #1431
For reference, `sky launch minimal.yaml` works and `/covid` is mounted correctly.

[2022-11-18 21:52] romilbhardwaj commented on #1431
Appears to be working fine on 3bbf4aaae40d88d100febede4fd62a48c56d66a4 (#1430). Quite likely a regression introduced by #1414, perhaps related to using Ray to run the controller loop which fails to serialize some object? cc @Michaelvll

[2022-11-18 22:04] romilbhardwaj commented on #1146
Reopening with #1432

[2022-11-19 01:08] Michaelvll commented on #1431
Fixed by #1432

[2022-11-19 01:08] #1431 closed

[2022-11-19 01:30] #1425 closed

[2022-11-19 17:14] vwxyzjn opened #1435 "Always use autostop by default"
Hi, this is an amazing piece of software. I was wondering if there is any way to always run the cluster the `autostop` mode using the configuration from the yaml file? I don't want to always do `--idle-minutes-to-autostop --down` when launching the cluster...

Alternatively autostop can probably be used as a sensible default — we should always autostop because if we forget it we could end up with

[2022-11-19 17:29] concretevitamin commented on #1435
@vwxyzjn This is great feedback, thanks!

Which options do you like (open for voting):

1. Change `sky launch` to always use `--idle-minutes-to-autostop`. With, say, 10 minutes.
2. Introduce a config file (e.g., .skypilot_config under $PWD or ~/) where users can define defaults for various CLI commands
3. Introduce these options to the YAML spec (this may not be ideal as it's designed to be a job

[2022-11-19 17:54] romilbhardwaj opened #1436 "[Storage] Explain MOUNT mode consistency model in docs"
It's unclear in the docs how and when data is written to S3/GCS, and how/if multiple writers can write to the same file. This should be clarified in the docs.

[2022-11-19 18:21] vwxyzjn commented on #1435
Thanks for the prompt reply. Option 1 makes sense to me as a sensible default.

[2022-11-19 23:03] romilbhardwaj commented on #1435
I think we need both 1 and 2. It'll be good to have a sensible default (e.g., 10 min) but we should also expose knobs for users to change the default (e.g., through a config file).

[2022-11-21 20:51] Michaelvll opened #1437 "[Spot] Use real time price for the spot VMs"
From our user:

[2022-11-21 20:58] Michaelvll opened #1438 "[show-gpus] Show real-time spot price"
From our user:

[2022-11-21 22:55] michaelzhiluo opened #1439 "[Onprem] Doc Changes"
Based on a meeting with a recent user for Sky Onprem, the following doc changes are needed:

1.  Permissions - Need to clarify what type of permissions an admin needs (i.e. passwordless sudo)
2. Documentation on taking down the ray/sky cluster (its not `sky down`)

[2022-11-21 22:57] michaelzhiluo opened #1440 "Command `sky status` confusion with local clusters"
When using only Sky onprem for the first time, `sky status` shows:

[code]

This is confusing for initial users since `no existing clusters` conflicts with local clusters.

[2022-11-21 23:12] Michaelvll opened #1441 "[Sqlite] Database is locked when refreshing the status"
From our user:
when running `sky status -r`, the following error occurs:

[code]

It is possible that when a previous sky program crashed, the database lock is not released properly.

PS: the problem is temporary fixed by running the following lines:
[code]

[2022-11-22 01:33] concretevitamin commented on #1437
+1, the price-fetching overheads may be ok especially if we do this for spot jobs for now.

Previous investigation on timing:

~1.2s to get spot prices for an instance type within a region

~1.07s for on-demand prices

[2022-11-22 01:50] romilbhardwaj commented on #1437
Plus we could cache the prices - a few seconds of delay every hour or so might not be bad

[2022-11-22 04:06] Michaelvll commented on #1437
Yes, I am leaning toward having the price cached periodically (maybe a github action proposed by @WoosukKwon) in our centralized catalog service. Reason:
1. Although getting the price information for one region takes only 1.2s, it could take longer (sequentially) or resource-hungry (in parallel) to fetch the price from all the regions.
1. With the centralized service we can easier fix issues with

[2022-11-22 04:53] #1146 closed

[2022-11-22 05:28] WoosukKwon commented on #1437
I agree with @Michaelvll

One technical challenge I can see is that our GCP catalog fetcher (and sometimes even AWS and Azure feathers) is buggy. So I think we should make the Github workflow only update the AWS catalog periodically, and keep manually updating the Azure and GCP catalogs. As Azure on-demand instance prices and GCP prices do not change a lot over time, it would be ok to have long up

[2022-11-22 18:31] romilbhardwaj commented on #1441
Are the concurrent accesses happening in the same process or different processes? If they are in different processes, there's still a chance of collision happening even if we don't use a global cursor.

If that's the case, would a more robust solution be to have a retry after a random backoff? Might be quicker to implement too.

[2022-11-22 18:48] infwinston opened #1443 "[Docs] Cloud IAM access requirements for SkyPilot"
When assigning people to our shared cloud account, I was wondering what's the minimal IAM access needed for SkyPilot to work instead of granting a full access owner. This can be relevant for people in industry who may not have full access to their shared corp account.
We probably want to investigate the access requirements in each cloud provider and document it in FAQ or even quick-start.

[2022-11-22 21:18] Michaelvll commented on #1441
If that's the case, would a more robust solution be to have a retry after a random backoff? Might be quicker to implement too.

The retry sounds good to me, but the problem seems will last forever, once it occurs, i.e. every `sky status -r` after first seeing the problem, will have the `sqlite3.OperationalError: database is locked.` I guess we may need both the explicit closing and retry.

[2022-11-22 22:23] Michaelvll commented on #1443
After discussing offline, @infwinston and I found the following role list for the user is sufficient to launch the VM on GCP when the `ray-autoscaler` account is already setup.
[code]
To set up the `ray-autoscaler` account, we need the `serviceAccount.setIAMPolicy` (can be done by the admin) to grant the following roles to the account:
[code]

[2022-11-23 06:22] romilbhardwaj opened #1444 "[Storage] Scalability tests for Storage"
@michaelzhiluo [requested](https://github.com/skypilot-org/skypilot/pull/1311#discussion_r1029995926) scalability tests for Sky Storage in #1311:

[2022-11-23 06:24] #1070 closed

[2022-11-26 11:59] concretevitamin opened #1447 "[spot] Interaction between `sky start [--force]` and spot controller's autostop"
User reported that:

---

After digging into potential issues, we aren't sure why this happened. The below *could* be one reason:

We should either
- disallow `sky start [--force]` on a (stopped) spot controller (which resets its autostop setting to 0); or
- ensure  `sky start [--force]` on a (stopped) spot controller properly restores its autostop setting

cc @Michaelvll

[2022-11-26 12:02] concretevitamin opened #1448 "Investigate making unmanaged spot instances (auto-)stoppable & resumable"
A user request:

[2022-11-26 12:08] concretevitamin commented on #1447
We should probably do the second option, to support cases like: a controller gets auto-stopped -> user wants to run `sky spot logs X`. Relatedly - this will print:

https://github.com/skypilot-org/skypilot/blob/master/sky/core.py#L709-L712

which asks users to manually run `sky start` with an updated `-i` number of minutes.

[2022-11-26 17:57] Michaelvll commented on #1447
Good catch! I have experienced this before as well. It makes sense to support the second option by automatically set the autostop when starting the spot controller.

[2022-11-26 21:31] concretevitamin opened #1450 "Multi-node launching when out-of-quotas will fail over without hinting the reason"
User reported:

I 11-26 17:44:21 log_utils.py:45] Head node is up.
I 11-26 17:45:57 cloud_vm_ray_backend.py:1356] Successfully provisioned or found existing head VM. Waiting for workers.
E 11-26 17:47:34 backend_utils.py:992] Timed out: waited for more than 90 seconds for new workers to be provisioned, but no progress.
E 11-26 17:47:34 cloud_vm_ray_backend.py:1118] *** Failed provisioning the clus

[2022-11-27 09:40] concretevitamin commented on #1438
As a first cut, maybe we can implement a `--refresh` option for `show-gpus`, which calls the catalog fetcher to pull latest prices and save to local files.

[2022-11-28 05:43] Michaelvll opened #1456 "[Storage] file_mounts with bucket url for file will download to a directory"
The following yaml will create a directory and download the file to the folder `/s3-data-file/frame0.xtc`, instead of `/s3-data-file` to be a file itself.
[code]

This also causes the problem for the spot user:

[code]

[code]

[2022-11-28 06:04] iojw opened #1459 "No usable subnets matching availability zone"
For the `us-west-1` region on AWS, my account only has access to the `us-west-1b` and `us-west-1c` zones, but SkyPilot does not take this into account. This causes the following error when running some of the smoke tests:

[code]

The `aws ec2 describe-availability-zones --region region-name` command can determine what zones a user has access to. e.g. for me:

[code]

[2022-11-28 06:14] concretevitamin commented on #1459
cc @WoosukKwon @infwinston

[2022-11-28 17:05] romilbhardwaj opened #1460 "[Provisioner] Sky Launch hangs when network is not available"
I put my laptop in airplane mode and tried `sky launch`. It should have thrown an error early instead of indefinitely (15min+) retrying. Related to, but different from #1232, where only ssh was blocked. Here no network is available.

[code]

[2022-11-28 18:31] Michaelvll opened #1461 "[AWS] Use the AZ ID instead of AZ name for the price"
As discovered by @WoosukKwon, the AZ name can correspond to different AZ ID for different accounts. We should use the AZ ID for the catalog of AWS and have a mapping from AZ ID -> AZ name for the user.

https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-regions-availability-zones.html

[2022-11-28 19:03] infwinston opened #1462 "[Catalog] GCP E2 instance is not supported"
I tried to launch an `e2-standard-4` instance but failed due to some instance config error.
[code]

Details:
[code]

Looks like this YAML template may need to be changed depending on the instance type.
https://github.com/skypilot-org/skypilot/blob/e889fc0af3a1a160e7d6121d85420bf4fa21ca75/sky/templates/gcp-ray.yml.j2#L62

[2022-11-28 19:25] infwinston commented on #1462
We may need to update such info in our catalog? @WoosukKwon wdyt

[2022-11-28 19:42] infwinston opened #1463 "[Storage] sky spot launch failed during uploading codes"
I ran `sky spot launch` with `workdir: .` which contains a github repo. Then some `Connection refused` error occurred quite a few times (sometime it's normal).

My job then failed and a bucket resource is leaked.

[code]

I think the error was from this command:
[code]
I'm suspecting that `-m` may create too many connections which caused the error (since there are many files under `.git` to be upl

[2022-11-28 19:47] infwinston commented on #1463
If `-m` is the issue, looks like we can try to use `parallel_thread_count` or `parallel_process_count` documented [here](https://cloud.google.com/storage/docs/gsutil/addlhelp/GlobalCommandLineOptions) to limit the number of concurrent connections.

[2022-11-28 19:57] #1456 closed

[2022-11-28 20:24] WoosukKwon commented on #1462
One possible solution is to set the `Price` values of those instances as null, so that they are filtered out.

[2022-11-28 20:57] infwinston commented on #1462
Ah yes it's duplicated to https://github.com/skypilot-org/skypilot/issues/1006.

so the question is: should we support this type of VM? If yes then we can't filter them out right?

[2022-11-28 23:11] WoosukKwon commented on #1462
I don't think we should. Ok, then why don't just drop it from the catalog?

[2022-11-29 05:42] Michaelvll opened #1465 "[Spot] Support resuming a failed spot job (FAILED_CONTROLLER)"
From our user:

[2022-11-29 05:48] Michaelvll opened #1466 "[UX] Find the closest region to my laptop"
From our user:

As mentioned by the user, it would be very convenient for the user who travels around the globe.

[2022-11-29 05:52] concretevitamin commented on #1466
When asked about latency differences:

[2022-11-29 06:52] #1418 closed

[2022-11-29 18:02] Michaelvll opened #1468 "[TPU/Spot] TPU pods fail to be launched after preempted"
Our user reported that when the TPU pod is preempted, and the spot controller tries to launch it again, it fails.
![image](https://user-images.githubusercontent.com/6753189/204608518-60a89ff4-f3eb-4b4b-b0bc-7c32e775f393.png)

[2022-11-29 20:45] helkhuang opened #1469 "add aws china region support"
I  will add aws china region support,i am Finish and test code.skypilot can support this feature  in the future?

[2022-11-29 22:12] concretevitamin commented on #1469
It'd be great to have your contributions to support it @helkhuang!

[2022-11-30 02:40] iojw commented on #1459
@infwinston Here's one of the logs:

[code]

[2022-11-30 05:58] infwinston opened #1472 "[Spot] Inconsistency between sky stop and sky autostop"
Found this during https://github.com/skypilot-org/skypilot/pull/1470, we do not support `sky stop` a spot VM but allow `sky autostop` it, which should be banned as well because its disk is not persistent on AWS?

[code]

[2022-11-30 07:04] concretevitamin commented on #1472
Good catch - we should ban it.

[2022-11-30 21:20] Michaelvll opened #1474 "[Global Regions] Add smoke test for all regions"
We need to have a smoke test for SkyPilot working on all the regions, to make sure the region information and images work.
https://github.com/skypilot-org/skypilot-catalog/pull/4#pullrequestreview-1199975227

[2022-11-30 22:14] #1369 closed